
@import url(https://peritex.github.io/Soda-lime/src/Format.css);
@import url(https://peritex.github.io/Soda-lime/src/Members.css);
@import url(https://peritex.github.io/Soda-lime/src/User_Area.css);
@import url(https://peritex.github.io/Soda-lime/src/Popouts.css);
@import url(https://peritex.github.io/Soda-lime/src/Chat_Box.css);

.theme-dark,
:root {
	--background-primary: #212121!important;
	--background-secondary: #131313!important;
	--background-secondary-alt: #212121 !important;
	--background-tertiary: #0f0f0f!important;
	--background-accent: #1f1f1f!important;
	--background-floating: #191919!important;
	--background-modifier-hover: rgba(255, 255, 255, 0.01)!important;
	--background-modifier-active: rgba(255, 255, 255, 0.03)!important;
	--background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
	--channeltextarea-background: var(--background-accent)!important;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2)!important;
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1)!important;
	--deprecated-text-input-bg: var(--background-tertiary)!important;
	--deprecated-text-input-border: var(--background-floating)!important;
	--deprecated-text-input-border-disabled: var(--background-tertiary)!important;
	--activity-card-background: var(--background-primary)!important;
	--channels-default: #9f9f9f!important;
	--text-muted: #b6b6b6!important;
	--text-normal: #fbfbfb!important;
	--interactive-normal: #c8c8c8!important;
	--interactive-hover: #dcddde!important;
	--interactive-active: #fff!important;
	--interactive-muted: #747474!important;
	--header-primary: white!important;
	--header-secondary: #c9c9c9!important;
	--toast-background: #2a2a2a00!important;
	--toast-header: #1f1f1f88!important;
	--toast-contents: #1a1a1a66 !important;
	--toast-box-shadow: rgba(0, 0, 0, 0.5)!important;
	--toast-border:  #1f1f1f22 !important;
    --seperator-color: var(--background-accent);
    
	--color-violet: #ff009c; /*First Gradient Color*/	
	--color-blue: #009cff; /*Second Gradient Color*/	
    --color-green: #00ff9c;
    --color-orange: #ff9c00;
    --color-lime: #9cff00;
    --color-purple: #9c00ff;

    --gradient1: linear-gradient(90deg, transparent, var(--color-violet), var(--color-blue), transparent);
    
    
    --focus-primary: #e700fa;
    
    --blur-popout: 3px;
    --blur-toast: 3.5px;
    --blur-tooltip: 5px;
    --blur-msgbox: 5px;
    
    
    --borders-buttons-rounded: 3px; /*Border shapes for rounded buttons. 25px for circle, 0px for square*/
    --borders-buttons-circle: 5px; /*Border shapes for circle buttons. 25px for circle, 0px for square*/
    --borders-switches: 3px; /*Border shapes for switches. 15px for circle, 0px for square*/
    --borders-checkboxes: 0%; /*Border shapes for checkboxes. 50% for circle, 0% for square*/
    --borders-slider-bars: 2px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
    --borders-slider-grabbers: 2px; /*Border shapes for slider grabbers. 8px for circle, 0px for square*/
    --borders-progress-bars: 0px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
    --borders-inputs: 0px; /*Border shapes for inputs. 25px for circle, 0px for square*/
    --borders-contexts: 5px; /*Border shapes for context menus. 25px for circle, 0px for square*/
    --borders-popouts: 3px; /*Border shapes for popouts. 25px for circle, 0px for square*/
    --borders-modals: 3px; /*Border shapes for modals. 25px for circle, 0px for square*/
    --borders-cards: 0px; /*Border shapes for cards and banners. 25px for circle, 0px for square*/
    --borders-previews: 0px; /*Border shapes for previews. 25px for circle, 0px for square*/
    --borders-sidebar-and-notices: 0px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
    --borders-servers: 5%; /*Border shapes for server icons. 50% for circle, 0% for square*/
    --borders-avatars: 5%; /*Border shapes for avatars. 50% for circle, 0% for square*/
    --borders-icons: 0%; /*Border shapes for icons. 50% for circle, 0% for square*/
    --borders-labels: 0px; /*Border shapes for text and number indicators. 15px for circle, 0px for square*/
    --borders-pills: 3px; /*Border shapes for unread badges and selected server pills. 5px for circle, 0px for square*/
    --borders-lines: 0px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
    --borders-role-outlines: 3px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
    --borders-role-dots: 0px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
    --borders-tags: 5px; /*Border shapes for tags. 10px for circle, 0px for square*/
    --borders-messages: 0px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
    --borders-files: 0px; /*Border shapes for images, videos, audios and gifs. 25px for circle, 0px for square*/
    --borders-mentions: 0px; /*Border shapes for mentions. 10px for circle, 0px for square*/
    --borders-reactions: 0px; /*Border shapes for reactions. 10px for circle, 0px for square*/
    --borders-codes: 5px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
    --borders-embeds: 5px; /*Border shapes for embeds. 25px for circle, 0px for square*/
    --borders-replies: 0px; /*Shape for top left replies border. 15px for circle, 0px for square*/
    --borders-quotes: 0px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
    --borders-spoilers: 0px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
    --borders-toasts: 0px; /*Border shapes for toasts. 25px for circle, 0px for square*/
    --borders-tooltips: 3px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
    --borders-scrollbars: 5px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
    --borders-editors: 3px; /*Border shapes for editors workspace. 25px for circle, 0px for square*/
    --borders-top-bar: 0px; /*Border shapes for the items in the top menu.*/
    --borders-user-area: 0px; /*Border shapes of the ussr list.*/
    --borders-PnP: 3px;
    --border-spotify; 3px;
    
    --user-anim-speed: 1.5s;
    

}



  /*---------------------------------*/
 /*--------{some snip snips}--------*/
/*---------------------------------*/

/* Emoji Resize */
.emoji:not(.emoji-2cWBLE) {
  height: 3em;
  width: 3em;
}
/* Emoji Resize */

/*move icons in server menu to the frount */
.iconContainer-2-XQPY {
    order: -1;
    margin-right: 8px; 
    margin-left: 0px;
}

/*better PnP*/
.pictureInPictureWindow-1B5qSe{
    opacity: 60%;
}
.pictureInPictureWindow-1B5qSe:hover{
        opacity: 100%;
}
.pictureInPictureVideo-2iKsGg{
    width: 240px;
    height: 135px;
}


/*fix friend list bg*/
.peopleList-3c4jOR{
    background-color: var( --background-primary);
}


/*fix the top notice bar*/
.powercord-notice, #app-mount .notice-3bPHh-{
    position: fixed;
    left: 25%;
    width: 50%;
    background-color: #43b58133;
    backdrop-filter:blur(3px);
    
}





  /*---------------------------------*/
 /*-----------{Bot Tags}------------*/
/*---------------------------------*/
.botTagRegular-2HEhHi {
    transition: .5s;
    background: rgba(30,0,27,0.1);
    color: #ffffff;
}
.botTagRegular-2HEhHi:hover {
    transition: .5s;
    background: linear-gradient(320deg, rgb(103,58,183), rgb(63,81,181));
    color: #ffffff;
}






  /*---------------------------------------------------------------------*/
 /*--------------------------{chat msg tweeks}--------------------------*/
/*---------------------------------------------------------------------*/

  /*--------------------------------*/
 /*----------Blur spoiler----------*/
/*--------------------------------*/
/*blurs spoiler text instead of having a black bar over it*/
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9, .contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover, .contents-2mQqc9 .spoilerText-3p6IlD{
  background:rgb(130,130,130,0.15);
  /*adds minor grey-ish filter to differentiate spoilted text from normal text*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9>.inlineContent-3ZjPuv{
  filter: blur(3px);
  /*adds blur filter when text is left alone*/
  opacity: .5;
  /*makes blurred text fully opaque*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover > .inlineContent-3ZjPuv{
  filter:none;
  /*removes blur filter on hover*/
  opacity: 1;
  /*makes text opacity look like normal, non-spoiled text on hover*/
}


  /*------------------------------------------*/
 /*-----------{@Mentiond in chat}------------*/
/*--------------------=========-------------*/
/*sets the hightlight color from yellow to black*/
.message-2qnXI6.mentioned-xhSam7 {
  background: rgba(0, 0, 0, 0.3);
  /*removes highlight box that highlights the ping as well as the rest of the message*/
}
/*removes the yellow virt bar at the start of @'ed msg*/
.mentioned-xhSam7::before {
	display:none;
}

.mentioned-xhSam7 {
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-left: 3px solid rgba(180, 180, 180, 0.4);
    border-radius: 0;
}



  /*-------------------------------------------------------------------*/
 /*----------------------------{TiTle Bar}----------------------------*/
/*-------------------------------------------------------------------*/

  /*--------------------------------*/
 /*-----------{Top Bar}------------*/
/*--------------------------------*/

/*Min Max close contaner*/
.platform-win .typeWindows-1za-n7 {
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	background: 0 0;
}
/*close button del*/
.platform-win .winButtonClose-1HsbF- {
    display:none;
}
/*Min Max Close Buttons*/
.platform-win .winButton-iRh8-Z {
	position: relative;
	top: calc(var(--TB-position-top, 0px) - 1px);
	right: var(--TB-position-right, 0);
	height: var(--TB-height, 48px);
	width: var(--TB-width, 55px);
}
/*Min Max Close Buttons hover */
.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
	background-color: var( --background-modifier-selected);
}
/*Title bar content */
.platform-win .container-1r6BKw {
	padding-right: var(--TB-header-padding, 115px)
}
/* Discord title del*/
.platform-win .wordmarkWindows-1v0lYD {
	display: none;
}

.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
	right: 30%
}


  /*-------------------------------------------*/
 /*-----------{TopBar Button Anim}------------*/
/*-------------------------------------------*/
/*anim TopBar buttons*/
.iconWrapper-2OrFZ1:hover {
    animation: Bop 1s 6;
  }
  @keyframes Bop {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(360deg);
    }
}
/*ring the mute bell*/
.iconWrapper-2OrFZ1[role="switch"]:hover {
    animation: Ring 0.15s 6;
  }
  @keyframes Ring {
    0% {
      transform: rotate(-7deg);
    }
    50% {
      transform: rotate(7deg);
    }
    100% {
      transform: rotate(-7deg);
    }
}
/*TopBar help button del*/
.iconWrapper-2OrFZ1[aria-label="Help"]{
    display:none;
}



/*top bar contaner bg*/
.children-19S4PO, .toolbar-1t6TWx {
    background-color: rgba(0,0,0,0.2);
    border-radius: var( --borders-top-bar);
    padding: 5px;
    height: auto;
    margin: 3px !important;
}
.children-19S4PO::after {
  display: none;
}
.children-19S4PO {
    margin-right: 20px;
}

.toolbar-1t6TWx {
    right: 10px !important;
}


/*hide search till clicked*/
.searchBar-3dMhjb{
    width:28px;
    transition: width 0.5s ease-out;
}

.divider-3FBTu8 {
    width: 2px;
    height: 20px;
}
/*
svg > .updateIconForeground-3tnNZn {
  fill: var(--interactive-normal);
}
*/
svg:hover > .updateIconForeground-3tnNZn {
  fill: var(--interactive-hover);
}
svg:active > .updateIconForeground-3tnNZn {
  fill: var(--interactive-active);
}
svg.icon-3cZ1F_ > path {
  fill: var(--interactive-normal);
}
svg.icon-22AiRD {
    color: var(--interactive-normal);
}
svg.icon-22AiRD:hover {
    color: var(--interactive-hover);
}
.topic-TCb_qw {
    color: var(--interactive-normal) !important;
}
.title-29uC1r {
    color: var(--interactive-normal);
}
.title-29uC1r:hover {
    color: var(--interactive-hover);
}
.status-1XNdyw:hover {
    filter: brightness(1.5)!important
}
.channelName-qsg_a_ > div > .input-2A_zIr {
    box-shadow: none !important;
}

.search-2oPWTC .icon-38sknP {
    cursor: pointer;
}









  /*-------------------------------------------------------------*/
 /*----------------------{Guilds Side bar}----------------------*/
/*-------------------------------------------------------------*/

  /*--------------------------------*/
 /*---------{Server List}----------*/
/*--------------------------------*/
.wrapper-1Rf91z {
  width: 70px;
/*  height: calc(100% - 70px);*/
}
/*
.wrapper-1Rf91z::after {
  position: fixed;
  content: "";
  width: 100%;
  height: 80px;
  bottom: 0; 
}
*/
.scroller-2TZvBN{
    display: flex;
    flex-flow: column;
    padding-bottom: 50px;
}

.scroller-2TZvBN .guildSeparator-3s64Iy{
    display: none;
}
  /*----------------------------------*/
 /*-----------{Home Icon}------------*/
/*----------------------------------*/
/*make home icon sticky*/
.scroller-2TZvBN .tutorialContainer-1v44GL {
    position: sticky;
    top: -10px;
    padding-top: 15px;
    padding-bottom: 2px;
    z-index: 1;
/*  background-color: var(--background-tertiary)*/
    background: rgba(0,0,0,0);
    backdrop-filter: blur(5px);
    
    order: -3;
}


/*
#online-count{
    position: sticky;
}
*/

.scroller-2TZvBN > .listItem-2P_4kh{
    position: sticky;
    order: -2;
    top:62px;
    backdrop-filter: blur(5px);
    border-bottom: 2px #c9c9c9 solid;
    
    z-index: 1;
}

  /*--------------------------------*/
 /*------{Join server button}------*/
/*--------------------------------*/
/* Join/Create a sever */
.scroller-2TZvBN .tutorialContainer-SGrQ1h{
    order: -1;
}

/*.scroller-2TZvBN:hover .tutorialContainer-SGrQ1h,*/
/*[aria-label="Servers"] + .listItem-2P_4kh{*/
/*    position: fixed;*/
/*    width: 70px;*/
/*    z-index: 1;*/
/*    height: 58px;*/
/*    overflow: hidden;*/
/*    padding-top: 10px;*/
/*    background: var( --background-primary) ;*/
/*    transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);*/
/*}*/



/*popup anim*/
/*
.tutorialContainer-SGrQ1h:hover,
[aria-label="Servers"] + .listItem-2P_4kh:hover {
    padding-bottom: 45px;
    background: #00000000 !important;
    backdrop-filter: blur(5px);
    transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
    z-index: 3;
}
*/




/* hide pill marker at side of servers for add/join */
.tutorialContainer-SGrQ1h div .pill-3YxEhL,
.listItem-2P_4kh .pill-3YxEhL {
    display:none;
}
/* move top "new" indicator down to fit style*/
.unreadMentionsIndicatorTop-gA6RCh{
    margin-top: 65px;
}
/* make bottom "new" indicator alow spotifiy to overlap*/
.unreadMentionsIndicatorBottom-BXS58x{
    z-index: 2 !important;    
    bottom: 60px;
}


 

  /*--------------------------------*/
 /*-----------{Get Font}-----------*/
/*--------------------------------*/
/* get the UBNT font from google API */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Ubuntu', sans-serif;
}

/* color the group DM dropdown sub containers*/
.friend-3KALPe{
  background-color: var( --background-secondary);
  
}




  /*--------------------------------*/
 /*-----------{Popout background blur}-----------*/
/*--------------------------------*/
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4{
    opacity: 1;
    background-color: rgba(0, 0, 0, .3) !important;
    backdrop-filter: blur(10px);   
}

.inner-1ilYF7{
    box-shadow: 2px 2px 8px #000;
}

..modal-yWgWj-{
    background-color: var( --background-primary) !important;
}


/*
.layer-v9HyYc{
    position:inherit;
}

*/


  /*------------------------------------*/
 /*-----------{Context Popout}------------*/
/*------------------------------------*/
/*Popup context menus*/
#app-mount .menu-3sdvDG{
/*    background-color: rgba(66,66,66,0.3);*/
/*    backdrop-filter:blur(var( --blur-tooltip));*/
/*    box-shadow: 2px 2px 5px #000;*/
}
.menu-3sdvDG.styleFlexible-wGDiIL, .submenu-2-ysNh.menu-3sdvDG, .menu-3sdvDG.styleFixed-sX-yHV {
/*    -webkit-backdrop-filter: blur(3px);*/
/*    backdrop-filter:blur(3px);*/
    background-color: rgba(66,66,66, 0.7);
    box-shadow: 2px 2px 5px #000;
}
.item-1tOPte{
/*    background-color: rgba(66,66,66,0.1);*/
/*    backdrop-filter:blur(3px);*/
}

/*slide on hover over*/
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j {
    left: -3px;
}
/*hover color*/
/*
.colorDefault-2K3EoJ.focused-3afm-j{
    background-color: rgba(33,33,33, .7);
}
*/









