
@import url(https://peritex.github.io/Soda-lime/src/Format.css);
@import url(https://peritex.github.io/Soda-lime/src/Members.css);
@import url(https://peritex.github.io/Soda-lime/src/User_Area.css);
@import url(https://peritex.github.io/Soda-lime/src/Popouts.css);
@import url(https://peritex.github.io/Soda-lime/src/Chat_Box.css);
@import url(https://peritex.github.io/Soda-lime/src/Server.css);
@import url(https://peritex.github.io/Soda-lime/src/TitleBar.css);

.theme-dark,
:root {
	--background-primary: #212121!important;
	--background-secondary: #131313!important;
	--background-secondary-alt: #212121 !important;
	--background-tertiary: #0f0f0f!important;
	--background-accent: #1f1f1f!important;
	--background-floating: #191919!important;
	--background-modifier-hover: rgba(255, 255, 255, 0.01)!important;
	--background-modifier-active: rgba(255, 255, 255, 0.03)!important;
	--background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
	--channeltextarea-background: var(--background-accent)!important;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2)!important;
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1)!important;
	--deprecated-text-input-bg: var(--background-tertiary)!important;
	--deprecated-text-input-border: var(--background-floating)!important;
	--deprecated-text-input-border-disabled: var(--background-tertiary)!important;
	--activity-card-background: var(--background-primary)!important;
	--channels-default: #9f9f9f!important;
	--text-muted: #b6b6b6!important;
	--text-normal: #fbfbfb!important;
	--interactive-normal: #c8c8c8!important;
	--interactive-hover: #dcddde!important;
	--interactive-active: #fff!important;
	--interactive-muted: #747474!important;
	--header-primary: white!important;
	--header-secondary: #c9c9c9!important;
	--toast-background: #2a2a2a00!important;
	--toast-header: #1f1f1f88!important;
	--toast-contents: #1a1a1a66 !important;
	--toast-box-shadow: rgba(0, 0, 0, 0.5)!important;
	--toast-border:  #1f1f1f22 !important;
  --seperator-color: var(--background-accent);

	--color-violet: #ff009c; /*First Gradient Color*/
	--color-blue: #009cff; /*Second Gradient Color*/
  --color-green: #00ff9c;
  --color-orange: #ff9c00;
  --color-lime: #9cff00;
  --color-purple: #9c00ff;

  --gradient1: linear-gradient(90deg, transparent, var(--color-violet), var(--color-blue), transparent);
  --gradient2: linear-gradient(300deg, transparent, var(--color-orange), var(--color-orange), var(--color-purple));
  --gradient3: linear-gradient(90deg, transparent, var(--color-purple), var(--color-green), transparent);


  --gradientR1: radial-gradient(var(--color-green), transparent);


  --focus-primary: #e700fa;

  --blur-popout: 3px;
  --blur-toast: 3.5px;
  --blur-tooltip: 5px;
  --blur-msgbox: 5px;


  --borders-buttons-rounded: 3px; /*Border shapes for rounded buttons. 25px for circle, 0px for square*/
  --borders-buttons-circle: 5px; /*Border shapes for circle buttons. 25px for circle, 0px for square*/
  --borders-switches: 3px; /*Border shapes for switches. 15px for circle, 0px for square*/
  --borders-checkboxes: 0%; /*Border shapes for checkboxes. 50% for circle, 0% for square*/
  --borders-slider-bars: 2px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
  --borders-slider-grabbers: 2px; /*Border shapes for slider grabbers. 8px for circle, 0px for square*/
  --borders-progress-bars: 0px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
  --borders-inputs: 0px; /*Border shapes for inputs. 25px for circle, 0px for square*/
  --borders-contexts: 5px; /*Border shapes for context menus. 25px for circle, 0px for square*/
  --borders-popouts: 3px; /*Border shapes for popouts. 25px for circle, 0px for square*/
  --borders-modals: 3px; /*Border shapes for modals. 25px for circle, 0px for square*/
  --borders-cards: 0px; /*Border shapes for cards and banners. 25px for circle, 0px for square*/
  --borders-previews: 0px; /*Border shapes for previews. 25px for circle, 0px for square*/
  --borders-sidebar-and-notices: 0px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
  --borders-servers: 5%; /*Border shapes for server icons. 50% for circle, 0% for square*/
  --borders-avatars: 5%; /*Border shapes for avatars. 50% for circle, 0% for square*/
  --borders-icons: 0%; /*Border shapes for icons. 50% for circle, 0% for square*/
  --borders-labels: 0px; /*Border shapes for text and number indicators. 15px for circle, 0px for square*/
  --borders-pills: 3px; /*Border shapes for unread badges and selected server pills. 5px for circle, 0px for square*/
  --borders-lines: 0px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
  --borders-role-outlines: 3px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
  --borders-role-dots: 0px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
  --borders-tags: 5px; /*Border shapes for tags. 10px for circle, 0px for square*/
  --borders-messages: 0px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
  --borders-files: 0px; /*Border shapes for images, videos, audios and gifs. 25px for circle, 0px for square*/
  --borders-mentions: 0px; /*Border shapes for mentions. 10px for circle, 0px for square*/
  --borders-reactions: 0px; /*Border shapes for reactions. 10px for circle, 0px for square*/
  --borders-codes: 5px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
  --borders-embeds: 5px; /*Border shapes for embeds. 25px for circle, 0px for square*/
  --borders-replies: 0px; /*Shape for top left replies border. 15px for circle, 0px for square*/
  --borders-quotes: 0px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
  --borders-spoilers: 0px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
  --borders-toasts: 0px; /*Border shapes for toasts. 25px for circle, 0px for square*/
  --borders-tooltips: 3px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
  --borders-scrollbars: 5px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
  --borders-editors: 3px; /*Border shapes for editors workspace. 25px for circle, 0px for square*/
  --borders-top-bar: 0px; /*Border shapes for the items in the top menu.*/
  --borders-user-area: 0px; /*Border shapes of the ussr list.*/
  --borders-PnP: 3px;
  --border-spotify: 3px;

  --user-anim-speed: 1.5s;


}


.VC-Timer{
    margin-bottom: 0px;
    margin-top: 0px;
}


  /*---------------------------------*/
 /*--------{some snip snips}--------*/
/*---------------------------------*/

/* Emoji Resize */
.emoji:not(.emoji-2cWBLE) {
  height: 3em;
  width: 3em;
}
/* Emoji Resize */

/*move icons in server menu to the frount */
.iconContainer-2-XQPY {
    order: -1;
    margin-right: 8px;
    margin-left: 0px;
}

/*better PnP*/
.pictureInPictureWindow-1B5qSe{
    opacity: 60%;
}
.pictureInPictureWindow-1B5qSe:hover{
  opacity: 100%;
}
.pictureInPictureVideo-2iKsGg{
    width: 240px;
    height: 135px;
}


/*fix friend list bg*/
.peopleList-3c4jOR{
    background-color: var( --background-primary);
}
.peopleList-3c4jOR, .container-1D34oG{
    background-color: var( --background-primary) !important;
}


/*fix the top notice bar*/
.powercord-notice, #app-mount .notice-3bPHh-{
    position: fixed;
    left: 25%;
    width: 50%;
    background-color: #43b58133;
    backdrop-filter:blur(3px);

}





  /*---------------------------------*/
 /*-----------{Bot Tags}------------*/
/*---------------------------------*/
.botTagRegular-2HEhHi {
    transition: .5s;
    background: rgba(30,0,27,0.1);
    color: #ffffff;
}
.botTagRegular-2HEhHi:hover {
    transition: .5s;
    background: linear-gradient(320deg, rgb(103,58,183), rgb(63,81,181));
    color: #ffffff;
}






  /*---------------------------------------------------------------------*/
 /*--------------------------{chat msg tweeks}--------------------------*/
/*---------------------------------------------------------------------*/

  /*--------------------------------*/
 /*----------Blur spoiler----------*/
/*--------------------------------*/
/*blurs spoiler text instead of having a black bar over it*/
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9, .contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover, .contents-2mQqc9 .spoilerText-3p6IlD{
  background:rgb(130,130,130,0.15);
  /*adds minor grey-ish filter to differentiate spoilted text from normal text*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9>.inlineContent-3ZjPuv, .spoiler-1PPAUc.hiddenSpoilers-1ksnR6{
  filter: blur(5px);
  /*adds blur filter when text is left alone*/
  opacity: 1;
  /*makes blurred text fully opaque*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover > .inlineContent-3ZjPuv,.spoilerContainer-331r0R:hover .spoiler-1PPAUc.hiddenSpoilers-1ksnR6{
  filter:none;
  /*removes blur filter on hover*/
  opacity: 1;
  /*makes text opacity look like normal, non-spoiled text on hover*/
}
/*hide the spoiler badge on images*/
.spoilerContainer-331r0R:hover .spoilerWarning-2aAZq1{
    opacity: 0;
}

  /*------------------------------------------*/
 /*-----------{@Mentiond in chat}------------*/
/*--------------------=========-------------*/
/*sets the hightlight color from yellow to black*/
.message-2qnXI6.mentioned-xhSam7 {
  background: rgba(0, 0, 0, 0.3);
  /*removes highlight box that highlights the ping as well as the rest of the message*/
}
/*removes the yellow virt bar at the start of @'ed msg*/
.mentioned-xhSam7::before {
	display:none;
}

.mentioned-xhSam7 {
    padding-top:10px !important;
    padding-bottom:10px !important;
    border-left: 3px solid rgba(180, 180, 180, 0.4);
    border-radius: 0;
}









  /*--------------------------------*/
 /*-----------{Get Font}-----------*/
/*--------------------------------*/
/* get the UBNT font from google API */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'Ubuntu', sans-serif;
}






/* color the group DM dropdown sub containers*/
.friend-3KALPe{
  background-color: var( --background-secondary);

}



/*
.layer-v9HyYc{
    position:inherit;
}

*/


  /*---------------------------------------*/
 /*-----------{Context Popout}------------*/
/*---------------------------------------*/
/*Popup context menus*/

.menu-3sdvDG.styleFlexible-wGDiIL, .submenu-2-ysNh.menu-3sdvDG, .menu-3sdvDG.styleFixed-sX-yHV {
/*    -webkit-backdrop-filter: blur(3px);*/
/*    backdrop-filter:blur(3px);*/
    background-color: rgba(66,66,66, 0.7);
    box-shadow: 2px 2px 5px #000;
}

/*slide on hover over*/
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j {
    left: -3px;
}
/*hover color*/
/*
.colorDefault-2K3EoJ.focused-3afm-j{
    background-color: rgba(33,33,33, .7);
}
*/




::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: var(--color-purple) !important;
}








/*
.root-SR8cQa>.topSectionSpotify-1lI0-P{
  background: linear-gradient(90deg, lightgreen, transparent);
 }
 .root-SR8cQa>.topSectionPlaying-1J5E4n {
   background: linear-gradient(90deg, lightblue, transparent);
 }
 .root-SR8cQa>.topSectionXbox-3fWLjS {
   background: linear-gradient(90deg, green, transparent);
 }
 .root-SR8cQa>.topSectionStreaming-1Tpf5X {
   background: linear-gradient(90deg, purple, transparent);
 }
*/

  /*user pop-out*/ 
/*
 .userPopout-3XzG_A .headerSpotify-zpWxgT {
   background: radial-gradient(at 100% 0%, lightgreen, transparent);
 }
 .userPopout-3XzG_A .headerPlaying-j0WQBV {
   background: radial-gradient(at 100% 0%, lightblue, transparent);
 }
 .userPopout-3XzG_A .headerXbox-3G-4PF {
   background: radial-gradient(at 100% 0%, green , transparent);
 }
 .userPopout-3XzG_A .headerStreaming-2FjmGz {
  background: radial-gradient(at 100% 0%, purple, transparent);
 }
*/
