
@import url(https://peritex.github.io/MyTheam/src/Format.css);
@import url(https://peritex.github.io/MyTheam/src/User.css);


.theme-dark,
:root {
	--background-primary: #1a1a1a!important;
	--background-secondary: #121212!important;
	--background-secondary-alt: #1a1a1a !important;
	--background-tertiary: #1f1f1f!important;
	--background-accent: #1f1f1f!important;
	--background-floating: #19191b!important;
	--background-modifier-hover: rgba(255, 255, 255, 0.01)!important;
	--background-modifier-active: rgba(255, 255, 255, 0.03)!important;
	--background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
	--channeltextarea-background: var(--background-accent)!important;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2)!important;
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1)!important;
	--deprecated-text-input-bg: var(--background-tertiary)!important;
	--deprecated-text-input-border: var(--background-floating)!important;
	--deprecated-text-input-border-disabled: var(--background-tertiary)!important;
	--activity-card-background: var(--background-primary)!important;
	--channels-default: #9f9f9f!important;
	--text-muted: #b6b6b6!important;
	--text-normal: #fbfbfb!important;
	--interactive-normal: #c8c8c8!important;
	--interactive-hover: #dcddde!important;
	--interactive-active: #fff!important;
	--interactive-muted: #747474!important;
	--header-primary: white!important;
	--header-secondary: #c9c9c9!important;
	--toast-background: #2a2a2a00!important;
	--toast-header: #1f1f1f88!important;
	--toast-contents: #1a1a1a66 !important;
	--toast-box-shadow: rgba(0, 0, 0, 0.5)!important;
	--toast-border:  #1f1f1f22 !important;
    --seperator-color: var(--background-accent);
    
    --toast-blur: 3.5px;
    --tooltip-blur: 5px;
    
    
    --borders-buttons-rounded: 3px; /*Border shapes for rounded buttons. 25px for circle, 0px for square*/
    --borders-buttons-circle: 5px; /*Border shapes for circle buttons. 25px for circle, 0px for square*/
    --borders-switches: 3px; /*Border shapes for switches. 15px for circle, 0px for square*/
    --borders-checkboxes: 0%; /*Border shapes for checkboxes. 50% for circle, 0% for square*/
    --borders-slider-bars: 2px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
    --borders-slider-grabbers: 2px; /*Border shapes for slider grabbers. 8px for circle, 0px for square*/
    --borders-progress-bars: 0px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
    --borders-inputs: 0px; /*Border shapes for inputs. 25px for circle, 0px for square*/
    --borders-contexts: 5px; /*Border shapes for context menus. 25px for circle, 0px for square*/
    --borders-popouts: 3px; /*Border shapes for popouts. 25px for circle, 0px for square*/
    --borders-modals: 3px; /*Border shapes for modals. 25px for circle, 0px for square*/
    --borders-cards: 0px; /*Border shapes for cards and banners. 25px for circle, 0px for square*/
    --borders-previews: 0px; /*Border shapes for previews. 25px for circle, 0px for square*/
    --borders-sidebar-and-notices: 0px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
    --borders-servers: 10%; /*Border shapes for server icons. 50% for circle, 0% for square*/
    --borders-avatars: 5%; /*Border shapes for avatars. 50% for circle, 0% for square*/
    --borders-icons: 0%; /*Border shapes for icons. 50% for circle, 0% for square*/
    --borders-labels: 0px; /*Border shapes for text and number indicators. 15px for circle, 0px for square*/
    --borders-pills: 3px; /*Border shapes for unread badges and selected server pills. 5px for circle, 0px for square*/
    --borders-lines: 0px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
    --borders-role-outlines: 3px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
    --borders-role-dots: 0px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
    --borders-tags: 5px; /*Border shapes for tags. 10px for circle, 0px for square*/
    --borders-messages: 0px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
    --borders-files: 0px; /*Border shapes for images, videos, audios and gifs. 25px for circle, 0px for square*/
    --borders-mentions: 0px; /*Border shapes for mentions. 10px for circle, 0px for square*/
    --borders-reactions: 0px; /*Border shapes for reactions. 10px for circle, 0px for square*/
    --borders-codes: 5px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
    --borders-embeds: 5px; /*Border shapes for embeds. 25px for circle, 0px for square*/
    --borders-replies: 0px; /*Shape for top left replies border. 15px for circle, 0px for square*/
    --borders-quotes: 0px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
    --borders-spoilers: 0px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
    --borders-toasts: 0px; /*Border shapes for toasts. 25px for circle, 0px for square*/
    --borders-tooltips: 3px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
    --borders-scrollbars: 5px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
    --borders-editors: 3px; /*Border shapes for editors workspace. 25px for circle, 0px for square*/
    --borders-top-bar: 0px; /*Border shapes for the items in the top menu.*/
    --borders-user-area: 0px; /*Border shapes of the ussr list.*/
    
    --user-anim-speed: 1s;
    
    --gradient: linear-gradient(var(--gradient-direction), rgb(var(--gradient-primary)), rgb(var(--gradient-secondary)));
}

  /*---------------------------------*/
 /*--------{some snip snips}--------*/
/*---------------------------------*/

/* Emoji Resize */
.emoji:not(.emoji-2cWBLE) {
  height: 3em;
  width: 3em;
}
/* Emoji Resize */

/*move icons in server menu to the frount */
.iconContainer-2-XQPY {
    order: -1;
    margin-right: 8px; 
    margin-left: 0px;
}

/*better PnP*/
.pictureInPictureWindow-1B5qSe{
    width: 440px;
    height: 248px;
    opacity: 60%;
}
.pictureInPictureWindow-1B5qSe:hover{
        opacity: 100%;
}

/* hide notes in user popout*/
.note-3HfJZ5{
  display: none;
}


  /*---------------------------------*/
 /*--------{Fix Spotify}--------*/
/*---------------------------------*/
.powercord-spotify{background-color:#282828!important;padding-bottom:10px!important;border-top: 1px solid #333333!important;border-bottom: 1px solid #333333!important;}
.powercord-spotify img{border-radius:0!important}
.powercord-spotify .spotify-seek-bar{height:4px!important;border-radius:2px!important;margin-left:15px!important;margin-right:15px!important;background:#404040!important}
.powercord-spotify .spotify-seek-bar-progress{background:#b3b3b3!important;border-radius:2px!important}
.powercord-spotify .container-3baos1{background-color:transparent!important}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3{color:#fff!important}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg{color:#b3b3b3!important;overflow-x:hidden!important;text-indent:-15px!important}
.powercord-spotify .spotify-buttons button{background:0 0!important;}
.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{color:#b3b3b3!important;font-size:70%!important;margin-top:3px!important;margin-left:10px!important;margin-right:10px!important}
.powercord-spotify .horizontal-1ae9ci *{width:0!important;overflow:hidden!important;opacity:0!important;display:none!important}
.powercord-spotify:hover .horizontal-1ae9ci *{width:32px!important;overflow:visible!important;opacity:1!important;display:block!important}



  /*--------------------------------*/
 /*----------Blur spoiler----------*/
/*--------------------------------*/
/*blurs spoiler text instead of having a black bar over it*/
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9, .contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover, .contents-2mQqc9 .spoilerText-3p6IlD{
  background:rgb(130,130,130,0.15);
  /*adds minor grey-ish filter to differentiate spoilted text from normal text*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9>.inlineContent-3ZjPuv{
  filter: blur(3px);
  /*adds blur filter when text is left alone*/
  opacity: .5;
  /*makes blurred text fully opaque*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover>.inlineContent-3ZjPuv{
  filter:none;
  /*removes blur filter on hover*/
  opacity: 1;
  /*makes text opacity look like normal, non-spoiled text on hover*/
}


/*frost the toast bg */
.powercord-toast{
 backdrop-filter:blur( var(--toast-blur));
  
}

  /*----------------------------------*/
 /*--------{tooltip frosting}--------*/
/*----------------------------------*/
#app-mount .tooltip-2QfLtc,
#app-mount .subscribeTooltipWrapper-1JoUuw,
#app-mount .tooltip-1_vJJI {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(var( --tooltip-blur));
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);    
}

  /*----------------------------------*/
 /*-------{Hide tooltip arrow}-------*/
/*----------------------------------*/
#app-mount .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
  display: none;
}




  /*---------------------------------*/
 /*--------{Profile to Left}--------*/
/*---------------------------------*/
.container-3baos1{
    padding: 0 5px 5px 5px;
    margin-left: 10px;
}

  /*-------------------------------*/
 /*--------{User name del}--------*/
/*-------------------------------*/
.container-3baos1 .canCopy-2VBT7N.nameTag-3uD-yy {
    display: none;
    
}
  /*---------------------------------*/
 /*--------{User tray icons}--------*/
/*---------------------------------*/
.panels-j1Uci_ .container-3baos1 button[aria-checked="false"], .panels-j1Uci_ .container-3baos1 button:not([role="switch"]) {
    transition: 0.2s ease-in-out;
    width: 0px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}
.panels-j1Uci_ .container-3baos1:hover button.button-14-BFJ {
    transition: 0.2s ease-in-out;
    width: 45px !important;
    overflow: visible !important;
    opacity: 1 !important;
}



  /*--------------------------------*/
 /*--------{Cant copy usernames}--------*/
/*--------------------------------*/
.header-23xsNx{
  user-select:none;
}

  /*--------------------------------*/
 /*-----------{Top Bar}------------*/
/*--------------------------------*/

/*Min Max close contaner*/
.platform-win .typeWindows-1za-n7 {
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	background: 0 0;
}
/*close button del*/
.platform-win .winButtonClose-1HsbF- {
    display:none;
}
/*Min Max Close Buttons*/
.platform-win .winButton-iRh8-Z {
	position: relative;
	top: calc(var(--TB-position-top, 0px) - 1px);
	right: var(--TB-position-right, 0);
	height: var(--TB-height, 48px);
	width: var(--TB-width, 60px);
}
/*Min Max Close Buttons hover */
.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
	background-color: var( --background-modifier-selected);
}
/*Title bar content */
.platform-win .container-1r6BKw {
	padding-right: var(--TB-header-padding, 125px)
}
/* Discord title del*/
.platform-win .wordmarkWindows-1v0lYD {
	display: none;
}

.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
	right: 30%
}


  /*--------------------------------*/
 /*-----------{TopBar Button Anim}------------*/
/*--------------------------------*/
/*anim TopBar buttons*/
.iconWrapper-2OrFZ1:hover {
    animation: Bop 1s 6;
  }
  @keyframes Bop {
    0% {
      transform: rotateX(0deg);
    }

    100% {
      transform: rotateX(360deg);
    }
}

/*ring the mute bell*/
.iconWrapper-2OrFZ1[role="switch"]:hover {
    animation: Ring 0.15s 6;
  }
  @keyframes Ring {
    0% {
      transform: rotate(-7deg);
    }
    50% {
      transform: rotate(7deg);
    }
    100% {
      transform: rotate(-7deg);
    }
}
/*TopBar help button del*/
.iconWrapper-2OrFZ1[aria-label="Help"]{
    display:none;
}



  /*-------------------------------------*/
 /*-----------{Pind Message}------------*/
/*-------------------------------------*/
/* pind message center frost*/
.messagesPopoutWrap-1MQ1bW{
  background:rgba(0,0,0,0);
  backdrop-filter:blur(5px);
  width: 620px;
}




  /*----------------------------------*/
 /*-----------{Home Icon}------------*/
/*----------------------------------*/
/*make home icon sticky*/
div .tutorialContainer-1v44GL {
  position: sticky;
  top: -10px;
  padding-top: 15px;
  padding-bottom: 2px;
  z-index: 1;
/*  background-color: var(--background-tertiary)*/
    background: rgba(0,0,0,0);
    backdrop-filter: blur(5px);
    
}

  /*---------------------------------*/
 /*-----------{Bot Tags}------------*/
/*---------------------------------*/
.botTagRegular-2HEhHi {
    transition: .5s;
    background: rgba(30,0,27,0.1);
    color: #ffffff;
}
.botTagRegular-2HEhHi:hover {
    transition: .5s;
    background: linear-gradient(320deg, rgb(103,58,183), rgb(63,81,181));
    color: #ffffff;
}



.message-2qnXI6.mentioned-xhSam7 {
  background: rgba(0, 0, 0, 0.3);
  /*removes highlight box that highlights the ping as well as the rest of the message*/
}

.mentioned-xhSam7::before {
	display:none;
}

.mentioned-xhSam7 {
  padding-top:10px !important;
	padding-bottom:10px !important;
  border-left: 3px solid rgba(180, 180, 180, 0.4);
  border-radius: 0;
}

.children-19S4PO, .toolbar-1t6TWx {
  background-color: rgba(0,0,0,0.2);
  border-radius: var( --borders-top-bar);
  padding: 5px;
  height: auto;
  margin: 3px !important;
}
.children-19S4PO::after {
  display: none;
}
.children-19S4PO {
    margin-right: 20px;
}

.toolbar-1t6TWx {
    right: 10px !important;
}

.searchBar-3dMhjb{
    width:28px;
    transition: width 0.5s ease-out;
}

.divider-3FBTu8 {
    width: 2px;
    height: 20px;
}
svg > .updateIconForeground-3tnNZn {
  fill: var(--interactive-normal);
}
svg:hover > .updateIconForeground-3tnNZn {
  fill: var(--interactive-hover);
}
svg:active > .updateIconForeground-3tnNZn {
  fill: var(--interactive-active);
}
svg.icon-3cZ1F_ > path {
  fill: var(--interactive-normal);
}
svg.icon-22AiRD {
    color: var(--interactive-normal);
}
svg.icon-22AiRD:hover {
    color: var(--interactive-hover);
}
.topic-TCb_qw {
    color: var(--interactive-normal) !important;
}
.title-29uC1r {
    color: var(--interactive-normal);
}
.title-29uC1r:hover {
    color: var(--interactive-hover);
}
.status-1XNdyw:hover {
    filter: brightness(1.5)!important
}
.channelName-qsg_a_ > div > .input-2A_zIr {
    box-shadow: none !important;
}

.search-2oPWTC .icon-38sknP {
    cursor: pointer;
}






/*top of chat box*/
.channelTextArea-rNsIhG{
  background-color: #1a1a1a;
}
.channelTextArea-rNsIhG:hover{
  background-color: #000000;
}

.channelTextArea-rNsIhG, .popout_7205, .form-2fGMdU  {
  padding-top:3px;
  margin-bottom:0;
}


  /*--------------------------------*/
 /*--------{frost chat box}--------*/
/*--------------------------------*/
/* Removes a stupid Container */
.form-2fGMdU:before{
    display: none;
}

  /*--------------------------------*/
 /*-----{frost chat box BG}-----*/
/*--------------------------------*/
/* New Position to remove the Gray Background for a Blur Background / Chat Width */
.form-2fGMdU {
    position:absolute;
    display: flex;
    flex-direction: column-reverse;
    bottom:0%;
    width: 100% !important;
    max-width:95% !important;
    background: rgba(26, 26, 26, 0.5) !important; 
    backdrop-filter: blur(2px);
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 13px;
    padding-right: 50px;
    padding-left: 50px;
}

  /*--------------------------------*/
 /*-----{Fix "is typing" hidding msg}-----*/
/*--------------------------------*/
/* Text Container is on Bottom, so Chat Write Box Hide some Msg, its a Fix */
.disableScrollAnchor-3V9UtP {
    padding-bottom:48px;
}

  /*--------------------------------*/
 /*--------{frost chat box}--------*/
/*--------------------------------*/
/* Fixed Typing etc for The Blur Container */
.typing-2GQL18, .base-gE7OpD {
    position: relative;
    margin-left: 30px;
}
.cooldownWrapper-3joyFc {
  margin-right: 32px;
}
/*
.cooldownWrapper-3joyFc {
  margin-right: 5px;
}
*/

  /*--------------------------------*/
 /*-----{Fix scrollbar hight}-----*/
/*--------------------------------*/
.messagesWrapper-1sRNjr ::-webkit-scrollbar-track  {
    margin-bottom: 73px !important;
}

  /*--------------------------------*/
 /*-----{Fix jump to new msg}-----*/
/*--------------------------------*/
.jumpToPresentBar-G1R9s6, .barBase-1c2Rfb {
  position: absolute;
  top:0;
  height: 10px;
  width: 100%;
  margin-left: -18px !important;

}
.jumpToPresentBar-G1R9s6:active, .barBase-1c2Rfb:active {
  margin-bottom: 60px;
}


  /*-----------------------------------*/
 /*-----{Hide for chat box icons}-----*/
/*-----------------------------------*/

.buttons-3JBrkn {
    max-width: 40px;
    transition: max-width ease-in-out 2s;
    
}
.buttons-3JBrkn:hover {
    max-width: 1800px;
}
/*Nitro gift del*/
.button-38aScr[aria-label='Send a gift'] {
  display: none !important;
}


  /*--------------------------------*/
 /*-----{Status picker}-----*/
/*--------------------------------*/
.clearStatusIcon-3-MDNF,
.scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
.statusItem-33LqPf > .status-1fhblQ,
.statusItem-33LqPf > .description-2L932D,
.statusItem-33LqPf > .separator-2I32lJ,
.statusItem-33LqPf > .customText-tY5LJn,
.statusItem-33LqPf > .clearStatusIcon-3-MDNF,
.tutorialContainer-SGrQ1h + div {
    display: none;
}

#status-picker {
   width: 45px;
   margin-left: 0px;
    background: rgba(26,26,26,0.2);
    backdrop-filter: blur(5px);
}

#status-picker::before {
   content: "";
   position: absolute;
   z-index: -1;
   background-color: inherit;
   transform: rotate(45deg);
   padding-top: 15px;
   padding-left: 10px;
   margin-left: 13px;
}




  /*--------------------------------*/
 /*---------{Server List}----------*/
/*--------------------------------*/
.wrapper-1Rf91z {
  width: 70px;
  height: calc(100% - 20px);
}
.wrapper-1Rf91z::after {
  position: fixed;
  content: "";
  width: 100%;
  height: 80px;
  bottom: 0;
 /* background:;  */
}

  /*--------------------------------*/
 /*------{Join server button}------*/
/*--------------------------------*/
/* Join/Create a sever */
.tutorialContainer-SGrQ1h,
[aria-label="Servers"] + .listItem-2P_4kh {
    position: fixed;
    z-index: 100;
    /*border-radius: var(--borders-servers); */
    padding-top: 5px;
    /*padding-bottom: 0px;*/
    bottom: -48px;
    background: #2a2a2a !important;
    transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
/*popup anim*/
.tutorialContainer-SGrQ1h:hover,
[aria-label="Servers"] + .listItem-2P_4kh:hover {
    padding-bottom: 45px;
        background: #00000000 !important;
    backdrop-filter: blur(5px);
    transition: all 150ms cubic-bezier(0.55, 0.09, 0.68, 0.53);
}
/* hide pill marker at side of servers for add/join */
.tutorialContainer-SGrQ1h div .pill-3YxEhL,
[aria-label="Servers"] + .listItem-2P_4kh .pill-3YxEhL {
    display:none;
}




  /*--------------------------------*/
 /*------{Voice Chat Popup}------*/
/*--------------------------------*/
/* Better voice conneted */
.ping-2NgC8E {
    transform: scale(1.7);
    margin-left: 5px;
    margin-top: 11px;
    margin-bottom: 0;
    height: 20px;
}

.channel-1TmDQ6 {
    margin-left: 30px;
    margin-top: -9px;
}

.rtcConnectionStatusConnected-VRZDjy {
    margin-left: 5px;
}


  /*--------------------------------*/
 /*-----------{RTC Edit}-----------*/
/*--------------------------------*/
/* Better RTC Connection popout */
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
     left: 72px !important;
}
.container-2x5lvQ {
     width: 240px;
     box-shadow: none;
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ header {
     background-color: var(--toast-header);
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ section {
     background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
     font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
     display:none;
}
.container-2x5lvQ section strong {
     font-size: 14px;
     white-space: pre;
}
.container-2x5lvQ section strong::before {
     font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
     content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
     content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
     content: 'Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
     content: 'Packet Loss: ';
}
 
