/* get the UBNT font from google API */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.theme-dark{
	--background-primary: rgb(33, 33, 33)!important;
	--background-secondary: rgb(19, 19, 19)!important;
	--background-secondary-alt: rgb(33, 33, 33) !important;
	--background-tertiary: rgb(15, 15, 15)!important;
	--background-accent: rgb(31, 31, 31)!important;
	--background-floating: rgb(25, 25, 25)!important;
	--background-modifier-hover: rgba(255, 255, 255, 0.01)!important;
	--background-modifier-active: rgba(255, 255, 255, 0.03)!important;
	--background-modifier-selected: rgba(255, 255, 255, 0.04)!important;
	--background-modifier-accent: hsla(0, 0%, 100%, 0.06)!important;
	--channeltextarea-background: var(--background-accent)!important;
	--deprecated-card-bg: rgba(0, 0, 0, 0.2)!important;
	--deprecated-card-editable-bg: rgba(0, 0, 0, 0.1)!important;
	--deprecated-text-input-bg: var(--background-tertiary)!important;
	--deprecated-text-input-border: var(--background-floating)!important;
	--deprecated-text-input-border-disabled: var(--background-tertiary)!important;
	--activity-card-background: var(--background-primary)!important;
	--channels-default: #9f9f9f!important;
	--text-muted: #b6b6b6!important;
	--text-normal: #fbfbfb!important;
	--interactive-normal: #c8c8c8!important;
	--interactive-hover: #dcddde!important;
	--interactive-active: #fff!important;
	--interactive-muted: #747474!important;
	--header-primary: white!important;
	--header-secondary: #c9c9c9!important;
	--toast-background: #2a2a2a00!important;
	--toast-header: #1f1f1f88!important;
	--toast-contents: #1a1a1a66 !important;
	--toast-box-shadow: rgba(0, 0, 0, 0.5)!important;
	--toast-border:  #1f1f1f22 !important;
		--seperator-color: var(--background-accent);

	--color-violet: #ff009c; /*First Gradient Color*/
	--color-blue: #009cff; /*Second Gradient Color*/
	--color-green: #00ff9c;
	--color-orange: #ff9c00;
	--color-lime: #9cff00;
	--color-purple: #9c00ff;

	--gradient1: linear-gradient(90deg, transparent, var(--color-violet), var(--color-blue), transparent);
	--gradient2: linear-gradient(300deg, transparent, var(--color-orange), var(--color-orange), var(--color-purple));
	--gradient3: linear-gradient(90deg, transparent, var(--color-purple), var(--color-green), transparent);
	--gradUpdate: linear-gradient(90deg, var(--color-green), var(--color-green), var(--color-lime));
 	--gradientSidebar: linear-gradient(90deg,transparent , var(--color-blue) , var(--color-purple) 25%, transparent);

	--gradientR1: radial-gradient(var(--color-green), transparent);


	--focus-primary: #ff009c;
}
:root{

	--blur-popout: 10px;
	--blur-toast: 3.5px;
	--blur-tooltip: 5px;
	--blur-msgbox: 5px;


	--borders-buttons-rounded: 3px; /*Border shapes for rounded buttons. 25px for circle, 0px for square*/
	--borders-buttons-circle: 5px; /*Border shapes for circle buttons. 25px for circle, 0px for square*/
	--borders-switches: 3px; /*Border shapes for switches. 15px for circle, 0px for square*/
	--borders-checkboxes: 0%; /*Border shapes for checkboxes. 50% for circle, 0% for square*/
	--borders-slider-bars: 2px; /*Border shapes for slider bars. 5px for circle, 0px for square*/
	--borders-slider-grabbers: 2px; /*Border shapes for slider grabbers. 8px for circle, 0px for square*/
	--borders-progress-bars: 0px; /*Border shapes for progress bars. 5px for circle, 0px for square*/
	--borders-inputs: 0px; /*Border shapes for inputs. 25px for circle, 0px for square*/
	--borders-contexts: 5px; /*Border shapes for context menus. 25px for circle, 0px for square*/
	--borders-popouts: 3px; /*Border shapes for popouts. 25px for circle, 0px for square*/
	--borders-modals: 3px; /*Border shapes for modals. 25px for circle, 0px for square*/
	--borders-cards: 0px; /*Border shapes for cards and banners. 25px for circle, 0px for square*/
	--borders-previews: 0px; /*Border shapes for previews. 25px for circle, 0px for square*/
	--borders-sidebar-and-notices: 0px; /*Shape for top left sidebar and notices border. 25px for circle, 0px for square*/
	/* moved to Server.css  --borders-servers: 5%; /*Border shapes for server icons. */
	--borders-avatars: 5%; /*Border shapes for avatars. */
	--br-avatar: 5%; /*new Border radius for avatar */
	--borders-icons: 0%; /*Border shapes for icons. */
	--borders-labels: 0px; /*Border shapes for text and number indicators. 15px for circle, 0px for square*/
	--borders-pills: 3px; /*Border shapes for unread badges and selected server pills. 5px for circle, 0px for square*/
	--borders-lines: 0px; /*Border shapes for lines when you drag categories or channels. 2px for circle, 0px for square*/
	--borders-role-outlines: 3px; /*Border shapes for roles outlines. 10px for circle, 0px for square*/
	--borders-role-dots: 0px; /*Border shapes for roles dots. 10px for circle, 0px for square*/
	--borders-tags: 5px; /*Border shapes for tags. 10px for circle, 0px for square*/
	--borders-messages: 0px; /*Border shapes for hovered or highlighted messages. 25px for circle, 0px for square*/
	--borders-files: 0px; /*Border shapes for images, videos, audios and gifs. 25px for circle, 0px for square*/
	--borders-mentions: 0px; /*Border shapes for mentions. 10px for circle, 0px for square*/
	--borders-reactions: 0px; /*Border shapes for reactions. 10px for circle, 0px for square*/
	--borders-codes: 5px; /*Border shapes for codes and codeblocks. 10px for circle, 0px for square*/
	--borders-embeds: 5px; /*Border shapes for embeds. 25px for circle, 0px for square*/
	--borders-replies: 0px; /*Shape for top left replies border. 15px for circle, 0px for square*/
	--borders-quotes: 0px; /*Border shapes for quote icon. 2px for circle, 0px for square*/
	--borders-spoilers: 0px; /*Border shapes for spoilers. 10px for circle, 0px for square*/
	--borders-toasts: 3px; /*Border shapes for toasts. 25px for circle, 0px for square*/
	--borders-tooltips: 3px; /*Border shapes for tooltips. 25px for circle, 0px for square*/
	--borders-scrollbars: 5px; /*Border shapes for scrollbars. 10px for circle, 0px for square*/
	--borders-editors: 3px; /*Border shapes for editors workspace. 25px for circle, 0px for square*/
	--borders-top-bar: 0px; /*Border shapes for the items in the top menu.*/
	--borders-user-area: 0px; /*Border shapes of the ussr list.*/
	--borders-PnP: 3px;
	--border-spotify: 3px;
	--br-friends-actions: 10%;

	--user-anim-speed: 1.5s;

	--thread-width: 240px;

	--grid-friends-columns: 3;

}


  /*--------------------------------*/
 /*-----------{Set Font}-----------*/
/*--------------------------------*/

/* text fonts/size */
::-webkit-input-placeholder{ font-family: 'Ubuntu'; }
body { font-family: 'Ubuntu'; 
	/* font-size: 14px; */  }
span{ font-family: 'Ubuntu'; }
h1{ font-family: 'Ubuntu'; }
h2{ font-family: 'Ubuntu'; }
h3{ font-family: 'Ubuntu'; }




	/*---------------------------------*/
 /*--------{some snip snips}--------*/
/*---------------------------------*/



/*move icons in server menu to the frount */
.iconContainer-2-XQPY {
		order: -1;
		margin-right: 8px;
		margin-left: 0px;
}




	/*----------------------------------*/
 /*-----------{scroll bar}-----------*/
/*----------------------------------*/
::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: var(--color-purple) !important;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
}



	/*---------------------------------*/
 /*-----------{Bot Tags}------------*/
/*---------------------------------*/
.botTagRegular-2HEhHi {
		transition: .5s;
		background: rgba(30,0,27,0.1);
		color: #ffffff;
}
.botTagRegular-2HEhHi:hover {
		transition: .5s;
		background: linear-gradient(320deg, var(--color-violet), var(--color-purple));
		color: #ffffff;
}





  /*---------------------------------------------------------------------*/
 /*--------------------------{people home tabs}--------------------------*/
/*---------------------------------------------------------------------*/
@keyframes slide-up {
		0% {
		opacity: 0;
		transform: translateY(50px);
		-webkit-transform: translateY(50px);
		-moz-transform: translateY(50px);
		-ms-transform: translateY(50px);
		-o-transform: translateY(50px);
	}
		100% {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
	}
}


/*fix friend list bg*/
/* peoplecolumn */
.theme-dark .container-2cd8Mz{
		background-color: var( --background-primary);
}


.peopleList-2VBrVI > div{
	display: grid;
	grid-template-columns: repeat(var(--grid-friends-columns), minmax(0, 1fr));
	padding: 10px 10px 0;
}

.peopleList-2VBrVI .title-x4dI75{
		grid-column: 1/calc(var(--grid-friends-columns) + 1);
}

.peopleList-2VBrVI .peopleListItem-u6dGxF{
	position: relative;
	height: 200px !important;
	margin: 8px;
	padding: 8px;
	border-top: none;
	background-color: var(--background-primary);
	box-shadow: 0 -3px 10px -10px, 0 5px 10px -5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	transition:ease 250ms;
	-webkit-transition:ease 250ms;
	-moz-transition:ease 250ms;
	-ms-transition:ease 250ms;
	-o-transition:ease 250ms;
	animation: slide-up 300ms ease;
	-webkit-animation: slide-up 300ms ease;
}
.peopleList-2VBrVI .peopleListItem-u6dGxF:hover{
	height: 200px !important;
	margin: 8px;
	padding: 8px;
	background-color: rgb(36, 36, 36) ;
	transform: translateY(-10px) scale(1.05, 1.05);
	z-index: 5;
	box-shadow: 0px -3px 10px -10px, 0 5px 10px -5px, 5px 20px 10px 0px rgb(0 0 0 / 40%);
}

/* layout of the "cards in the grid" */
.peopleList-2VBrVI .listItemContents-2NFd61, /* pending */
.peopleList-2VBrVI .listItemContents-2n2Uy9{
	flex-direction: column;
	padding: 8px;
}
.peopleList-2VBrVI .userInfo-2WpsYG{
	flex-direction: column;
	width: 100%;
	align-items: center;
	flex: 1 1 auto;
	transform: translateY(20px);
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}
.peopleList-2VBrVI .peopleListItem-u6dGxF:hover .userInfo-2WpsYG{
   transform: translateY(0px);
}

.peopleList-2VBrVI .text-3j8t_e{
		margin-top: 10px;
		align-items: center;
}
/* .peopleList-2VBrVI .text-3j8t_e .nameTag-H6kSJ0{
		justify-content: center;
} */
.peopleList-2VBrVI .text-3j8t_e .discriminator-WV5K5s{
		display: none;
}
.peopleList-2VBrVI .actions-2ZgdH4,
.peopleList-2VBrVI .actions-YHvpIT{
		justify-content: space-evenly;
		width: 100%;
		margin: 0;
		transform: rotateX(90deg);
		-webkit-transform: rotateX(90deg);
		-moz-transform: rotateX(90deg);
		-ms-transform: rotateX(90deg);
		-o-transform: rotateX(90deg);
		transition: 250ms ease;
		-webkit-transition: 250ms ease;
		-moz-transition: 250ms ease;
		-ms-transition: 250ms ease;
		-o-transition: 250ms ease;
}
.peopleList-2VBrVI .peopleListItem-u6dGxF:hover .actions-2ZgdH4,
.peopleList-2VBrVI .peopleListItem-u6dGxF:hover .actions-YHvpIT{
  transform: rotateX(0deg);
  transition: .6s;
}

.peopleList-2VBrVI .actionButton-3-B2x-{
		margin-left: 0;
		border-radius: var(--br-friends-actions);
		-webkit-border-radius: var(--br-friends-actions);
		-moz-border-radius: var(--br-friends-actions);
		-ms-border-radius: var(--br-friends-actions);
		-o-border-radius: var(--br-friends-actions);
}

.peopleList-2VBrVI .avatar-2MSPKk{
		width: 64px !important;
		height: 64px !important;
		/* margin-left: calc(50% - 32px); */
		margin: 5px;
}

.peopleColumn-1wMU14 .avatar-2MSPKk svg {
	width: 100%;
	height: 100%;
}

.peopleColumn-1wMU14 .avatar-2MSPKk foreignObject{
	width: 40px;
	height: 40px;
	mask: none;
	border-radius: calc(var(--br-avatar) * 0.5);
	-webkit-border-radius: calc(var(--br-avatar) * 0.5);
	-moz-border-radius: calc(var(--br-avatar) * 0.5);
	-ms-border-radius: calc(var(--br-avatar) * 0.5);
	-o-border-radius: calc(var(--br-avatar) * 0.5);
}
/* remove old status indicator */
.avatar-2MSPKk rect {
    display: none;
}





/* fix home page privateChannels status indicator */
.peopleList-2VBrVI .wrapper-3Un6-K[aria-label*="Online"],
.privateChannels-oVe7HL .wrapper-3Un6-K[aria-label*="Online"]{
		box-shadow: 0 0 5px 2px var(--status-color-online);
		border-radius: var(--br-avatar);
}
.peopleList-2VBrVI .wrapper-3Un6-K[aria-label*="Idle"],
.privateChannels-oVe7HL .wrapper-3Un6-K[aria-label*="Idle"]{
		box-shadow: 0 0 5px 2px var(--status-color-idle);
		border-radius: var(--br-avatar);
}
.peopleList-2VBrVI .wrapper-3Un6-K[aria-label*="Do Not Disturb"],
.privateChannels-oVe7HL .wrapper-3Un6-K[aria-label*="Do Not Disturb"]{
		box-shadow: 0 0 5px 2px var(--status-color-dnd);
		border-radius: var(--br-avatar);
}

/* remove discords status indicator */
.avatar-1HDIsL rect {
    display: none;
}






  /*------------------------------------------------------------------------*/
 /*-------------------------{home menu buttons}----------------------------*/
/*------------------------------------------------------------------------*/
/* make the top 4 in home buttons */
.privateChannels-oVe7HL ul.content-yjf30S {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.privateChannels-oVe7HL [class*="channel-"] {
  flex: 1 1 100%;
}

.privateChannels-oVe7HL [class*="channel-"][aria-posinset='1'],
.privateChannels-oVe7HL [class*="channel-"][aria-posinset='2'],
.privateChannels-oVe7HL [class*="channel-"][aria-posinset='3'],
.privateChannels-oVe7HL [class*="channel-"]:not([aria-posinset]){
  flex: 1;
} 

.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=nitro]:first-of-type,
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=friends]:first-of-type,
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=library]:first-of-type,
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=Requests]:first-of-type {
	margin-left: 8px !important;
}

.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=nitro] [class*="layout-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=friends] [class*="layout-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=library] [class*="layout-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=Requests] [class*="layout-"]{
  justify-content: center;
  padding: 0 !important;
}

.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=nitro] [class*="avatar-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=friends] [class*="avatar-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=library] [class*="avatar-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=Requests] [class*="avatar-"]{
  margin: 0 !important;
}

.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=nitro] [class*="content-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=friends] [class*="content-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=library] [class*="content-"],
.privateChannels-oVe7HL [class*="channel-"] a[data-list-item-id*=Requests] [class*="content-"]{
  display: none;
}

.privateChannels-oVe7HL [class*="channel-"] .numberBadge-37OJ3S{
	position: absolute;
	box-shadow: 0 0 0 2px var(--background-secondary);
	border-radius: 3px;
	transform: translate(150%, 70%) scale(0.8);
	-webkit-transform: translate(150%, 70%) scale(0.8);
	-moz-transform: translate(150%, 70%) scale(0.8);
	-ms-transform: translate(150%, 70%) scale(0.8);
	-o-transform: translate(150%, 70%) scale(0.8);
}


/* old --- remove soon */
/* .privateChannels-oVe7HL  [class*="channel-"]  a[href*="/channels/@me/"] {
	width: 100%;
} */









	/*---------------------------------------------------------------------*/
 /*--------------------------{chat msg tweeks}--------------------------*/
/*---------------------------------------------------------------------*/

	/*--------------------------------*/
 /*----------Blur spoiler----------*/
/*--------------------------------*/
/*blurs spoiler text instead of having a black bar over it*/
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9, .contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover, .contents-2mQqc9 .spoilerText-3p6IlD{
	background:rgb(130,130,130,0.15);
	/*adds minor grey-ish filter to differentiate spoilted text from normal text*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9>.inlineContent-3ZjPuv, .spoiler-1PPAUc.hiddenSpoilers-1ksnR6{
	filter: blur(5px);
	/*adds blur filter when text is left alone*/
	opacity: 1;
	/*makes blurred text fully opaque*/
}
.contents-2mQqc9 .spoilerText-3p6IlD.hidden-HHr2R9:hover > .inlineContent-3ZjPuv,.spoilerContainer-331r0R:hover .spoiler-1PPAUc.hiddenSpoilers-1ksnR6{
	filter:none;
	/*removes blur filter on hover*/
	opacity: 1;
	/*makes text opacity look like normal, non-spoiled text on hover*/
}

.spoiler-3aUoEX.hiddenSpoilers-19m4Pg{
	filter: blur(44px) grayscale(1);
	-webkit-filter: blur(44px) grayscale(1);
}

.spoilerContainer-1Dl06W:hover .spoiler-3aUoEX.hiddenSpoilers-19m4Pg {
    filter: blur(5px) grayscale(0);
    -webkit-filter: blur(5px) grayscale(0);
}


/*hide the spoiler badge on images*/
.spoilerContainer-1Dl06W:hover .spoilerWarning-1JN1Ot{
		opacity: 0;
}





	/*------------------------------------------*/
 /*-----------{@Mentiond in chat}------------*/
/*------------------------------------------*/
/*sets the hightlight color from yellow to black*/
.message-2qnXI6.mentioned-xhSam7 {
	background: rgba(0, 0, 0, 0.3);
	/*removes highlight box that highlights the ping as well as the rest of the message*/
}
/*removes the yellow virt bar at the start of @'ed msg*/
.mentioned-xhSam7::before {
	display:none;
}

.mentioned-xhSam7 {
		padding-top:10px !important;
		padding-bottom:10px !important;
		border-left: 3px solid rgba(180, 180, 180, 0.4);
		border-radius: 0;
}




/* color the group DM dropdown sub containers*/
.friend-3KALPe{
	background-color: var( --background-secondary);
}




	/*---------------------------------------*/
 /*-----------{Context Popout}------------*/
/*---------------------------------------*/
/*Popup context menus*/

.menu-3sdvDG.styleFlexible-wGDiIL, .submenu-2-ysNh.menu-3sdvDG, .menu-3sdvDG.styleFixed-sX-yHV {
/*    -webkit-backdrop-filter: blur(3px);*/
/*    backdrop-filter:blur(3px);*/
		background-color: rgba(66,66,66, 0.7);
		box-shadow: 2px 2px 5px #000;
}

/*slide on hover over*/
.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j {
		left: -3px;
}
/*hover color*/
/*
.colorDefault-2K3EoJ.focused-3afm-j{
		background-color: rgba(33,33,33, .7);
}
*/















/*TODO:: move to thread.css*/

	/*---------------------------------------------------------------------*/
 /*-----------------------------{Theads}--------------------------------*/
/*---------------------------------------------------------------------*/
/* theads */
/* .chat-3bRxxu.threadSidebarOpen-vdkwIh {
		resize: horizontal;
		min-width: 400px;
		max-width: calc(100vw - var(--thread-width) - 72px - 400px);
} */
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
		width: unset !important;
		flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
		min-width: 400px;
		width: 33vw;
		flex: 1 1 auto;
}

@media (max-width: 1150px){
	.threadSidebar-1o3BTy {
		max-width: 70px;
		min-width: unset;
		background-color: transparent;
		backdrop-filter: blur(3px) !important;
		transition: 1s ease;
		-webkit-transition: 1s ease;
		-moz-transition: 1s ease;
		-ms-transition: 1s ease;
		-o-transition: 1s ease;

		scrollbar-width: 0px;
	}
	.threadSidebar-1o3BTy:hover {
		max-width: 33vw;
		/*min-width: 350px;*/
		transition: 1s ease;
		-webkit-transition: 1s ease;
		-moz-transition: 1s ease;
		-ms-transition: 1s ease;
		-o-transition: 1s ease;

		scrollbar-width: 3px;
	}
	.threadSidebar-1o3BTy .toolbar-1t6TWx{
		display: none;
	}
	/* .threadSidebar-1o3BTy:hover .container-1r6BKw{
		opacity: 1;
	} */

	/* main section */
	.threadSidebar-1o3BTy .chatContent-a9vAAp{
		background-color: transparent;
	}
	/* msg scroller */
	.threadSidebar-1o3BTy .scrollerContent-WzeG7R{
		min-width: 350px;
	}
	/* msg text container */
	.threadSidebar-1o3BTy .scrollerInner-2YIMLh>div>.contents-2mQqc9{
		background-color:rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
	}
	.threadSidebar-1o3BTy .scroller-2LSbBU::-webkit-scrollbar{
		width: 0px;
	}
	.threadSidebar-1o3BTy:hover .scroller-2LSbBU::-webkit-scrollbar{
		width: 12px;
	}

}



  /*------------------------------------------------------------------------*/
 /*----------------------------{Discord notice}----------------------------*/
/*------------------------------------------------------------------------*/
.notice-2HEN-u {
	/*order: 100;
	*/top: 48px;
	margin-bottom: -36px;
	width: 50px;
	height: 36px;
	align-self: flex-end;
	border-radius: 0 0 5px 5px;
	opacity: 0.6;
	backdrop-filter: blur(10px);
	overflow: hidden;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
	-webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
	-moz-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
	-ms-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
	-o-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
}
.notice-2HEN-u:hover {
    top: 48px;
    margin-bottom: -36px;
    width: calc(100% - 270px);
    align-self: flex-end;
    border-radius: 0 0 5px 5px;
    opacity: 1;
}







	/*-----------------------------------------------------------------------*/
 /*--------------------------{screen size rules}--------------------------*/
/*-----------------------------------------------------------------------*/

/* handle screen size element removal */


@media screen and (min-width: 1200px){
	.container-2lgZY8.dynamic .membersWrap-2h-GB4{ max-width: 300px}
}

/* Sidebar Left 850 - 1000 */
@media screen and (min-width: 851px) and (max-width: 1000px) {
	.container-1eFtFS .sidebar-1tnWFu,
	.container-1eFtFS .sidebar-1tnWFu .thin-1ybCId { width: 200px !important;}
	.container-2lgZY8.dynamic .powercord-spotify:hover { width: 199px !important}
	/* .panels-j1Uci_ .nameTag-3uD-yy { display: none;} */
	/* .panels-j1Uci_  .avatarWrapper-2yR4wp { margin-right: 20px;} */
} 

/* Sidebar Left 700 - 850 */
@media screen and (min-width: 701px) and (max-width: 850px) {
	/* .panels-j1Uci_  { position: fixed; bottom: -999px;} */
	.container-2lgZY8.dynamic .powercord-spotify:hover { width: 259px !important}
	.container-2lgZY8.dynamic .chat-3bRxxu{ margin-left: 0px; }
	.container-1eFtFS .sidebar-1tnWFu{ width: 0px; }
	.container-2lgZY8.dynamic .topic-TCb_qw.expandable-9fI_e3{ display: none; }
	.container-2lgZY8.dynamic .children-19S4PO{ margin-right: 10px; }
	.container-2lgZY8.dynamic .wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
		width:200px;
		transition: .5s ease;
		-webkit-transition: .5s ease;
		-moz-transition: .5s ease;
		-ms-transition: .5s ease;
		-o-transition: .5s ease;
	}
	.container-1eFtFS .sidebar-1tnWFu:hover{
		width:200px;
		transition: .5s ease;
		-webkit-transition: .5s ease;
		-moz-transition: .5s ease;
		-ms-transition: .5s ease;
		-o-transition: .5s ease;
	}
	.container-2lgZY8.dynamic .sidebar-2K8pFh{
		 padding: 0px !important;
		transition: .5s ease;
		-webkit-transition: .5s ease;
		-moz-transition: .5s ease;
		-ms-transition: .5s ease;
		-o-transition: .5s ease;
	}
	/* .sidebar-2K8pFh .thin-1ybCId{ display: none; } */
	/* .toolbar-1t6TWx { display: none;} */
}


/* hide members list  0 - 750*/
@media screen and (min-width: 0px) and (max-width: 750px) {
	.container-2lgZY8.dynamic .membersWrap-2h-GB4 { display: none;}
	.container-2lgZY8.dynamic .selected-1GqIat { display: none;}
	.container-2lgZY8.dynamic .toolbar-1t6TWx .clickable-3rdHwn:nth-last-child(4) { display: none;}
}


/* Sidebar Left 0 - 700 */
@media screen and (min-width: 0px) and (max-width: 700px) {
	.container-2lgZY8.dynamic .panels-j1Uci_  { position: fixed; bottom: -999px;}
	.container-2lgZY8.dynamic .chat-3bRxxu { margin-left: 0px;}
	.container-1eFtFS .sidebar-1tnWFu { width: 0px;}
	.container-2lgZY8.dynamic .sidebar-2K8pFh .thin-1ybCId { display: none;}
	.container-2lgZY8.dynamic .sidebar-2K8pFh  { padding: 0px !important;}
	.container-2lgZY8.dynamic .toolbar-1t6TWx { display: none;}
	.container-2lgZY8.dynamic .children-19S4PO { margin-right: 10px;}
	.container-2lgZY8.dynamic .wrapper-3NnKdC { display: none;}
}



