 /* TODO:  ->mark as read */
 
  /*---------------------------------------------------------------------*/
 /*---------------------------{Msg box Tweeks}--------------------------*/
/*---------------------------------------------------------------------*/
:root{
  --bg-textArea: rgba(15, 15, 15, 0.3);

  --pad-chatBox: 32px;
  --br-chatBox: 3px;
  --blur-chatBox: 5px;
}

  /*--------------------------------*/
 /*--------{frost chat box}--------*/
/*--------------------------------*/
/* Removes a stupid Container */
.form-3gdLxP:before{
    display: none;
}

  /*---------------------------------*/
 /*-------{frost chat box BG}-------*/
/*---------------------------------*/
/* New Position to remove the Gray Background for a Blur Background / Chat Width */
.form-3gdLxP {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0;
    margin: 0px;
}

.channelTextArea-1FufC0{
  width:calc(100% - var(--pad-chatBox)*2 - 16px);
  margin-bottom: 0;
  padding: 0px var(--pad-chatBox) 16px var(--pad-chatBox);
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(var(--blur-chatBox));
  border-radius:0 5px 0 0;
  -webkit-border-radius:0 5px 0 0;
  -moz-border-radius:0 5px 0 0;
  -ms-border-radius:0 5px 0 0;
  -o-border-radius:0 5px 0 0;
}

.scrollableContainer-15eg7h{
  background-color: var(--bg-textArea);
  border-radius: var(--br-chatBox);
  -webkit-border-radius: var(--br-chatBox);
  -moz-border-radius: var(--br-chatBox);
  -ms-border-radius: var(--br-chatBox);
  -o-border-radius: var(--br-chatBox);
}

/* non chat box wrapper */
.wrapper-2SplAX{
  margin-left: 32px;
}


  /*-----------------------------------*/
 /*-----{Hide for chat box icons}-----*/
/*-----------------------------------*/
.buttons-uaqb-5 {
    max-width: 40px;
    transition: max-width ease-in-out 2s;
}
.buttons-uaqb-5:hover {
    max-width: 1800px;
}
/*Nitro gift del*/
.buttons-uaqb-5 > button.button-f2h6uQ {
  display: none !important;
}


  /*--------------------------------*/
 /*-----{Fix jump to new msg}-----*/
/*--------------------------------*/
.messagesWrapper-RpOMA3 .jumpToPresentBar-1cEnH0{
  left: 0;
  right: unset;
  margin-bottom: 64px;
  border-radius: 0 5px 5px 0;
}

.messagesWrapper-RpOMA3 .barButtonMain-2GIx4o{
  display: none;
}

/* Failed to load */
.chatContent-3KubbW .messagesErrorBar-1IQ1rH{
  top: 0px;
  right: unset;
  bottom: unset;
  border-radius: 0px 0px 5px 5px;
}

/* fix is typing - and force emoji slide */
.base-3bcbY3 .text-3S7XCz{

}
.base-3bcbY3 .text-3S7XCz emoji{
  
}

  /*--------------------------------------------------------------------------*/
 /*---------------------------{Chat Content Tweeks}--------------------------*/
/*--------------------------------------------------------------------------*/

.chatContent-3KubbW .scroller-kQBbkU{
  padding-bottom: 60px;
}

/* make chat message sender avatar not round */
.chatContent-3KubbW .messagesWrapper-RpOMA3 .cozy-VmLDNB.wrapper-30-Nkg .avatar-2e8lTP{
  border-radius: var(--br-avatar);
  -webkit-border-radius: var(--br-avatar);
  -moz-border-radius: var(--br-avatar);
  -ms-border-radius: var(--br-avatar);
  -o-border-radius: var(--br-avatar);
}

/* Emoji Resize */
.chatContent-3KubbW .emojiContainer-2XKwXX .emoji:not(.emoji-2cWBLE) {
  height: 3em;
  width: 3em;
}
/* Emoji Resize */

/* Channel msg animation */
@keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(150px);
      -webkit-transform: translateX(150px);
      -moz-transform: translateX(150px);
      -ms-transform: translateX(150px);
      -o-transform: translateX(150px);
}
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
  }
}
.chatContent-3KubbW .message-2CShn3 {
  animation: slide-in 0.4s ease;
  -webkit-animation: slide-in 0.4s ease;
}