  /*---------------------------------------------------------------------*/
 /*---------------------------{Msg box Tweeks}--------------------------*/
/*---------------------------------------------------------------------*/
:root{
  --br-chatBox: 3px;
}



  /*--------------------------------*/
 /*--------{frost chat box}--------*/
/*--------------------------------*/

/* Removes a stupid Container */
.form-3gdLxP:before{
    display: none;
}

  /*---------------------------------*/
 /*-------{frost chat box BG}-------*/
/*---------------------------------*/
/* New Position to remove the Gray Background for a Blur Background / Chat Width */
.form-3gdLxP {
    backdrop-filter: blur(var( --blur-tooltip));
    padding-left: 0px !important;
    padding-right: 0;
    margin: -60px 80px 0px 0px;
}

.channelTextArea-1FufC0{
  margin-bottom: 0;
  padding: 0px 32px 16px 32px;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  border-radius:0 5px 0 0;
  -webkit-border-radius:0 5px 0 0;
  -moz-border-radius:0 5px 0 0;
  -ms-border-radius:0 5px 0 0;
  -o-border-radius:0 5px 0 0;
}

.scrollableContainer-15eg7h{
  background-color: var(--background-secondary);
  border-radius:var(--br-chatBox);
  -webkit-border-radius:var(--br-chatBox);
  -moz-border-radius:var(--br-chatBox);
  -ms-border-radius:var(--br-chatBox);
  -o-border-radius:var(--br-chatBox);
}

/* non chat box wrapper */
.wrapper-2SplAX{
  margin-left: 32px;
}



  /*-----------------------------------*/
 /*-----{Hide for chat box icons}-----*/
/*-----------------------------------*/
.buttons-uaqb-5 {
    max-width: 40px;
    transition: max-width ease-in-out 2s;
    
}
.buttons-uaqb-5:hover {
    max-width: 1800px;
}
/*Nitro gift del*/
.buttons-uaqb-5 > button.button-f2h6uQ {
  display: none !important;
}



  /*---------------------------------------*/
 /*-----{Fix "is typing" hidding msg}-----*/
/*---------------------------------------*/
/* Text Container is on Bottom, so Chat Write Box Hide some Msg, its a Fix */
.scrollerInner-2PPAp2 {
    padding-bottom: 48px;
}

  /*--------------------------------*/
 /*--------{frost chat box}--------*/
/*--------------------------------*/
/* Fixed someone Typing etc for The Blur Container */
/* .typing-2GQL18, .base-gE7OpD {
    position: relative;
    margin-left: 30px;
}
.cooldownWrapper-3joyFc {
  margin-right: 32px;
} */


  /*--------------------------------*/
 /*-----{Fix scrollbar hight}-----*/
/*--------------------------------*/
/* .messagesWrapper-1sRNjr ::-webkit-scrollbar-track  {
    margin-bottom: 73px !important;
} */

  /*--------------------------------*/
 /*-----{Fix jump to new msg}-----*/
/*--------------------------------*/
.messagesWrapper-RpOMA3 .jumpToPresentBar-1cEnH0{
  left: 0;
  right: unset;
  margin-bottom: 64px;
  border-radius: 0 5px 5px 0;
}

.messagesWrapper-RpOMA3 .barButtonMain-2GIx4o{
  display: none;
}



/* Failed to load */
/* .messagesErrorBar-nyJGU7.barBase-1c2Rfb {
    bottom: 100px;
    left: 0px;
    right: unset;
    padding: 0;
} */