:root {
    --profile-modal-width:600px;

    --members-popout-avatar-width:128px;
    --members-list-avatar-width:32px;

    --premium-height: 480px;
    --premium-width: 600px; /* vars for background if nitro */
    --premium-opacity: .25;
    --premium-blur: blur(3px);

    --br-member-popout: 5px;
    --br-member-profile: 5px;
    --br-avatar: 5px;

    --roleslist-columns: 2; /* Number of role columns */

    --members-list-width: 64px;
    --trans-members-list: 500ms cubic-bezier(0.55, 0.06, 0.68, 0.19) 250ms;
    --trans-members-text: 750ms ease-in;
    --trans-members-message: 1s ease-out 0.2s;
}


/*-------------------------------------*/
/*--------{popout members list}--------*/
/*-------------------------------------*/
/* new members list */


/* members wrapper container */
.container-2o3qEW{
    width: var(--members-list-width);
}
/* new popout member list */
.membersWrap-3NUR2t {
    flex: 1;
    transition: var(--trans-members-list);
    -webkit-transition: var(--trans-members-list);
    -moz-transition: var(--trans-members-list);
    -ms-transition: var(--trans-members-list);
    -o-transition: var(--trans-members-list);
}
.membersWrap-3NUR2t:hover {
    transform: translateX(calc(var(--members-list-width) - 240px));
    -webkit-transform: translateX(calc(var(--members-list-width) - 240px));
    -moz-transform: translateX(calc(var(--members-list-width) - 240px));
    -ms-transform: translateX(calc(var(--members-list-width) - 240px));
    -o-transform: translateX(calc(var(--members-list-width) - 240px));
}
/* members list nameTag text and members list group text */
.membersWrap-3NUR2t .membersGroup-2eiWxl, 
.membersWrap-3NUR2t .member-2gU6Ar .content-1U25dZ {
    transform: translateX(50px);
    opacity: 0;
    transition: var(--trans-members-text);
    -webkit-transition: var(--trans-members-text);
    -moz-transition: var(--trans-members-text);
    -ms-transition: var(--trans-members-text);
    -o-transition: var(--trans-members-text);
}
.membersWrap-3NUR2t:hover .membersGroup-2eiWxl,
.membersWrap-3NUR2t:hover .member-2gU6Ar .content-1U25dZ {
    transform: translateX(0px);
    opacity: 1;
}

.member-48YF_l, .members-3WRCEx {
    background: var(--bg-overlay-chat,var(--background-secondary));
    background-color: rgba(8, 8, 8, 0.5);
    z-index: 0;
    backdrop-filter: blur(10px) grayscale(0.8);
}


/* old background style */
/* .membersWrap-3NUR2t:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 8, 8, 0.5);
    z-index: 0;
    backdrop-filter: blur(10px) grayscale(0.8);
} */
.membersWrap-3NUR2t .member-2gU6Ar,
.member-2gU6Ar, .member-2gU6Ar>div {
    background-color: transparent;
}





/* new status indicator -- members is members && root is big user profile */
.member-2gU6Ar .wrapper-3Un6-K[aria-label*="Online"], 
.root-8LYsGj .wrapper-3Un6-K[aria-label*="Online"]{
    box-shadow: 0 0 5px 2px var(--status-color-online);
    border-radius: var(--br-avatar);
}
.member-2gU6Ar .wrapper-3Un6-K[aria-label*="Idle"], 
.root-8LYsGj .wrapper-3Un6-K[aria-label*="Idle"]{
    box-shadow: 0 0 5px 2px var(--status-color-idle);
    border-radius: var(--br-avatar);
}
.member-2gU6Ar .wrapper-3Un6-K[aria-label*="Do Not Disturb"], 
.root-8LYsGj .wrapper-3Un6-K[aria-label*="Do Not Disturb"]{
    box-shadow: 0 0 5px 2px var(--status-color-dnd);
    border-radius: var(--br-avatar);
}

/* hide old status indicator */
.avatar-6qzftW rect{
    display: none;
}

/* clamp members list svg size */
.membersWrap-3NUR2t .wrapper-3Un6-K svg{
    width: var(--members-list-avatar-width);
    height: var(--members-list-avatar-width);
}


/* list avatar pic   .wrapper-3Un6-K is more universal than .avatar-6qzftW */
.wrapper-3Un6-K foreignObject{
    mask: none;
    width: 100%;
    height: 100%;
    border-radius: var(--br-avatar);
    -webkit-border-radius: var(--br-avatar);
    -moz-border-radius: var(--br-avatar);
    -ms-border-radius: var(--br-avatar);
    -o-border-radius: var(--br-avatar);
}






.chat-3bRxxu {
    background: var(--background-tertiary);
}

.chatContent-a9vAAp {
    background-color: var(--background-primary);
    /* left: 25px; */
    /* margin-left: -25px; */
    max-width: 100%;
}
.chatContent-a9vAAp.vcMode{
    max-width: 0px !important;
}








/*---------------------------------------*/
/*--------{Member profile popout}--------*/
/*---------------------------------------*/
.userPopoutOuter-3AVBmJ {
    width: 400px;
    border-radius: var(--br-member-popout);
    -webkit-border-radius: var(--br-member-popout);
    -moz-border-radius: var(--br-member-popout);
    -ms-border-radius: var(--br-member-popout);
    -o-border-radius: var(--br-member-popout);
}

[class*="userPopoutOverlayBackground"]{
    margin: 95px 16px 16px;
}

/* top banner for nitro */
.popoutBannerPremium-2RvDNZ{
    max-width: 333px;
    height: 150px;
    min-height: 140px;
}

.overlayBackground-arbZMT{
  margin: 20px 16px 16px;
}

[class*="userPopoutOuter"] .bannerSVGWrapper-qc0szY{
    position: absolute;
    max-width: none;
    width: 100%;
    height: var(--account-hight);
    z-index: 0 !important;
}

[class*="userPopoutOuter"] .bannerSVGWrapper-qc0szY > foreignObject {
    mask: none !important;
    width: 333px;
}


/* move pic down - nitro */
[class*="avatarPositionPremiumBanner"]{
    top: 100px;
}

/* avatar on top and fix click target size */
.avatarWrapper-3y0KZ1{
    z-index: 1;
    width: var(--members-popout-avatar-width) !important;
    height: var(--members-popout-avatar-width) !important;
}

/* new member popout status indicator */
.avatarWrapper-3y0KZ1 [aria-label*="Online"].wrapper-3Un6-K:before{
    content: "";
    width: var(--members-popout-avatar-width);
    height: var(--members-popout-avatar-width);
    border-radius: 8px;
    box-shadow: 4px 12px 5px 2px #111, 5px 12px 5px 4px var(--status-color-online);
}
.avatarWrapper-3y0KZ1 [aria-label*="Idel"].wrapper-3Un6-K:before {
    content: "";
    width: var(--members-popout-avatar-width);
    height: var(--members-popout-avatar-width);
    border-radius: 8px;
    box-shadow: 4px 12px 5px 2px #111, 5px 12px 5px 4px var(--status-color-idel);
}
.avatarWrapper-3y0KZ1 [aria-label*="Do Not Disturb"].wrapper-3Un6-K:before{
    content: "";
    width: var(--members-popout-avatar-width);
    height: var(--members-popout-avatar-width);
    border-radius: 8px;
    box-shadow: 4px 12px 5px 2px #111, 5px 12px 5px 4px var(--status-color-dnd);
}



/* avatar pic wrapper */
.avatarWrapper-3y0KZ1 .wrapper-3Un6-K,
.avatarWrapper-3y0KZ1 .wrapper-3Un6-K svg{
    display: flex;
    width: var(--members-popout-avatar-width) !important;
    height: var(--members-popout-avatar-width) !important;
}

/* make pic not round */
.avatarWrapper-eenWra .avatar-2Vndt_ foreignObject{
    mask: none;
    border-radius: var(--br-avatar);
    -webkit-border-radius: var(--br-avatar);
    -moz-border-radius: var(--br-avatar);
    -ms-border-radius: var(--br-avatar);
    -o-border-radius: var(--br-avatar);
}

.avatarHint-2g3Mcd,
.profileBadges-31rDHI,
.aboutMeTitle-3pjiS7,
.bodyTitle-2Az3VQ,
.premiumIconWrapper-32h0Ri{
    display: none; 
}

/* make userName have min height */
.userText-148fun{
  margin-left: 45%;
  min-height: 55px;
}




.customStatus-3Bvsdb{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    margin: 10px 0;
  
}
.customStatus-3Bvsdb > img.customStatusEmoji-1hUpwD{
  width: 100px;
  height: 100px;
}








/* slide out quick messages */
.inputWrapper-1YNMmM{
   padding:  0px 16px;
  transition: var(--trans-members-message);
  -moz-transition: var(--trans-members-message);
  -ms-transition: var(--trans-members-message);
  -o-transition: var(--trans-members-message);
  -webkit-transition: var(--trans-members-message);
}

.inputWrapper-1YNMmM .input-2g-os5{
  height: 0px;
  padding: 0;
  transition: var(--trans-members-message);
  -webkit-transition: var(--trans-members-message);
  -moz-transition: var(--trans-members-message);
  -ms-transition: var(--trans-members-message);
  -o-transition: var(--trans-members-message);
}

.overlayBackground-arbZMT:hover .inputWrapper-1YNMmM .input-2g-os5,
.overlayBackground-arbZMT .inputWrapper-1YNMmM .input-2g-os5:focus{
  height: 30px;
  margin:  8px 0 10px 0;
}



/* grid the popout rolesList */
/*[class*="rolesList-"] */
.userPopoutInner-PA9zkU .roles-3zC7MX {
    display: grid;
    grid-template-columns: repeat(var(--roleslist-columns), minmax(0, 1fr));
    background: var(--background-tertiary);
    padding: 12.5px;
    gap: 4.5px;
    border-radius: var(--br-member-popout);
    max-height: 150px;
    overflow: auto;
    -webkit-border-radius: var(--br-member-popout);
    -moz-border-radius: var(--br-member-popout);
    -ms-border-radius: var(--br-member-popout);
    -o-border-radius: var(--br-member-popout);
}
.roles-3zC7MX::-webkit-scrollbar {
    width: 4.5px;
}
.roles-3zC7MX::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--background-modifier-hover);
}
.roles-3zC7MX > [class*="role-"] {
    margin: 0;
    justify-content: center;
}
.roles-3zC7MX [class*="roles-"] [class*="roleRemoveButton-"] {
    flex-shrink: 0;
    width: 4px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}
.roles-3zC7MX [class*="roleName-"] {
    margin: auto;
}




  /*------------------------------------------------*/
 /*--------{Member profile popout animator}--------*/
/*------------------------------------------------*/
/*
.animatorLeft-1I1Kvj > div{
  box-shadow:  0 0 0 #cccccc, 0 0 0 #ffffff;
  animation: anime 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards ;
  -webkit-animation: anime 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards ;
}

.animatorLeft-1I1Kvj .avatarWrapper-3y0KZ1,
.overlayBackground-arbZMT{
   animation: avatarOpacity 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
   -webkit-animation: avatarOpacity 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
   z-index: 1;
} 
*/



@keyframes avatarOpacity{
  0%{
    opacity: 0;
  }
  35%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes anime {
    0% {
    width: 60px;
    height: 60px;
    max-height: 60px;
    box-shadow: 10px 10px 10px #000,
                10px 10px 10px #000;

    }
    50% {
    width: 60px;
    height: 65vh;
    max-height: calc(80hv - 20px);
    box-shadow: 10px 10px 10px #000,
                5px 5px 20px #050505;
    }
    99% {
    width: 400px;
    height:65vh;
    max-height: calc(80vh - 20px);
    box-shadow: 40px 40px 40px #000,
                0 0 40px #000;

    }
    100%{
    width: 400px;
    max-height: calc(80vh - 20px);
    box-shadow: 40px 40px 40px #000,
                0 0 40px #000;
    }
}





/*--------------------------------------------*/
/*--------{Big Member profile popout}--------*/
/*------------------------------------------*/

/* profile modal sub root */
.focusLock-2tveLW[aria-label*="User Profile"] .root-g14mjS{
    width: 70vw;
    height: 60vh;
    min-width: 600px;
    min-height: 400px;
}


.theme-dark .root-8LYsGj .body-1Ukv50,
.topSection-13QKHs .tabBarContainer-sCZC4w .tabBar-2hXqzU,
.tabBarItem-30Te4- {
    display: table;
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 8px;
}

.theme-dark .root-8LYsGj .tabBarContainer-sCZC4w {
    top: 80px;
    width: 25%;
    position: relative;
}

.nameTag-2Nlmsy {
    top: 80px;
    left: 20px;
    width: 25%;
}

.top-K_jibn .item-3XjbnG,
.top-K_jibn .selected-3s45Ha.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active {
    border-bottom-color: transparent;
    border-bottom: transparent;
    margin-bottom: 20px;
    /* top: -50px; */
}

.body-1Ukv50 {
    position: absolute;
    background-color: transparent;
    /* left: 190px; */
    right: 20px;
    top: 30px;
    height: 88%;
    width: 400px
}

.headerTop-1PNKck {
    position: absolute;
    top: 270px;
    left: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.profileBannerPremium-KD60EB {
    top: 0;
    max-width: unset;
    width: 100%;
    height: 100%;
    /*width: var(--premium-width);
    height: var(--premium-height);
    */background-position: center;
    background-size: cover;
    opacity: var(--premium-opacity);
    position: absolute;
    filter: var(--premium-blur);
    -webkit-filter: var(--premium-blur);
}

.profileBanner-1owKI5,
.customStatusActivity-WKWGD-,
.badgeList-2aoHPw,
.banner-1YaD3N .premiumIconWrapper-32h0Ri {
    display: none
}

.userInfoSection-2u2hir,
.tabBarContainer-sCZC4w {
    border: none;
}

.userProfileActivity-sal5no{
    width: 360px;
    margin-bottom: 30px
}

.note-3M15gE textarea {
    margin-bottom: 5px
}

.relationshipButtons-3ByBpj {
    /* transform: scale(1.2); */
   position: relative 
}

.avatar-3QF_VA {
    /* transform: scale(0.8); */
    left: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
.avatar-3QF_VA foreignObject{
  border-radius: var(--br-avatar);
  -webkit-border-radius: var(--br-avatar);
  -moz-border-radius: var(--br-avatar);
  -ms-border-radius: var(--br-avatar);
  -o-border-radius: var(--br-avatar);
  mask: none;
}

/* #app-mount .topSection-13QKHs .wrapper-3Un6-K rect{
    width: 120px;
} */

.avatar-3QF_VA.wrapper-3Un6-K,
.body-1Ukv50,
.topSection-13QKHs {
    background-color: transparent;
    border: 20px;
}

.topSection-13QKHs {
    flex: 1 1 auto;
}

.body-1Ukv50,
.topSection-13QKHs {
    min-height: 300px
}

.theme-dark .root-g14mjS {
    background-color: var(--background-floating) !important;
    border-radius: var(--br-member-profile) !important;
    -webkit-border-radius: var(--br-member-profile) !important;
    -moz-border-radius: var(--br-member-profile) !important;
    -ms-border-radius: var(--br-member-profile) !important;
    -o-border-radius: var(--br-member-profile) !important;
}




/* profile modal animation and 3D transition */
.profileBannerPremium-KD60EB:after{
  content:" ";
  
}

.backdrop-2ByYRN.withLayer-2VVmpp {
    backdrop-filter: blur(30px) grayscale(0.8);
    opacity: 1 !important;
    background: rgba(100, 100, 100, 0.15) !important;
}


[aria-label='User Profile Modal'].focusLock-2tveLW{
    transform-style: preserve-3d;
    transition: 2s;
    transform: perspective(1000px) rotateX(3deg) rotateY(8deg) translateY(-20px);
    -webkit-transform: perspective(1000px) rotateX(3deg) rotateY(8deg) translateY(-20px);
    -moz-transform: perspective(1000px) rotateX(3deg) rotateY(8deg) translateY(-20px);
    -ms-transform: perspective(1000px) rotateX(3deg) rotateY(8deg) translateY(-20px);
    -o-transform: perspective(1000px) rotateX(3deg) rotateY(8deg) translateY(-20px);
}
[aria-label='User Profile Modal'].focusLock-2tveLW:hover{
  transition: 2s;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(0px);
  -webkit-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(0px);
  -moz-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(0px);
  -ms-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(0px);
  -o-transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(0px);
}

[aria-label='User Profile Modal'].focusLock-2tveLW:before{
  content:"";
  position: absolute;
  bottom: 10px;
  left: 40px;
  height: 10%;
  width: 90%;
  box-shadow: -75px 18px 14px 0 rgba(0, 0, 0, 0.75);
  transform: skewX(60deg);
  transition: 2s;
}
[aria-label='User Profile Modal'].focusLock-2tveLW:hover:before{
  height: 12%;
  transform: skewX(60deg);
  box-shadow: -135px 38px 14px 5px rgba(0, 0, 0, 0.75);
}

.focusLock-2tveLW .root-g14mjS{
   -webkit-box-reflect: below 40px linear-gradient(transparent 80%, rgb(0, 0, 0, 40%) );
  transition: -webkit-box-reflec 2s;
}
.focusLock-2tveLW:hover .root-g14mjS{

}

@keyframes profile {
  0%{transform: perspective(2000px) rotateX(7deg) rotateY(0deg);}
  
  33%{transform: perspective(2000px) rotateX(7deg) rotateY(15deg);}
  
  66%{transform: perspective(2000px) rotateX(7deg) rotateY(-15deg);}
  
  100%{transform: perspective(2000px) rotateX(7deg) rotateY(0deg);}
  
}