/* user area background panel */
.panels-j1Uci_{
  position: fixed;
  left:0px;
  bottom:0px;
  width:310px;
  z-index: 1;
}


/* Streaming panel anim */
.panel-24C3ux{
  display: inline;
  position: fixed;
  bottom: 55px;
  left: 120px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  padding: 0;
  
  background-color: var( --background-primary);
  backdrop-filter:blur(5px);
  
  z-index: 1;
  transition:width .2s 1s, left .2s 1s, background-color .5s 1s;
}

.panel-24C3ux:hover{
  left: 70px;
  width: 240px;
  
  background-color: #1a1a1a00;
  
  z-index: 2;
}
  

/* Voice chat info anim */
.wrapper-24pKcD{
  position: fixed;
  bottom: 55px;
  left: 70px;
  padding-top:0px;
  
  height: 50px;
  overflow: hidden;
  width: 50px;
  
  background-color: var( --background-primary);
  backdrop-filter:blur(5px);
  
  z-index: 1;
  transition: height 2s 1s, width .2s 1s, padding-left .2s 1s, background-color .5s 1s;
}
.wrapper-24pKcD:hover{
  background:#2a2a2a00;
  height: 90px;
  width: 240px;
  
}

