  /*--------------------------------------------*/
 /*-----------{Pind Message Popout}------------*/
/*--------------------------------------------*/
/* pind message center frost*/
.messagesPopoutWrap-1MQ1bW{
  background:rgba(0,0,0,0);
  backdrop-filter:blur(var( --blur-popout));
    box-shadow: 2px 2px 5px #000
/*  width: 620px;*/
}
/*darker header, footer and message*/
.header-ykumBX, .footer-1kmXd4, .messageGroupWrapper-o-Zw7G{
    background-color: rgba(0,0,0,0.5)
}

  /*------------------------------------*/
 /*-----------{DM's Popout}------------*/
/*------------------------------------*/
/*DM popout*/
.popout-103y-5{
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter:blur(var( --blur-popout));
    box-shadow: 2px 2px 5px #000 !important;
}

.header-1TKi98, .footer-1eyGBa, .friend-3KALPe{
    background-color: rgba(0,0,0,0.5) !important;
}


  /*-------------------------------------*/
 /*-----------{Inbox Popout}------------*/
/*-------------------------------------*/
/*inbox messages*/
.channelHeader-3Gd2xq{
    background-color: rgba(19,19,19,0.8);
    backdrop-filter: blur(10px);
}
.messageContainer-gbhlwo{
    background-color: rgba(33,33,33, 0.5);
}


/*inbox unreads*/
.recentMentionsPopout-3rCiI6{
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter:blur(var( --blur-popout));
    box-shadow: 2px 2px 5px #000;
    
}
/*unread msg content*/
.messages-3G3erD{
    background-color: rgba(33,33,33, 0.5);
}


  /*----------------------------------------------*/
 /*-----------{Popout background blur}-----------*/
/*----------------------------------------------*/
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4{
    opacity: 1;
    background-color: rgba(0, 0, 0, .3) !important;
    backdrop-filter: blur(10px);
}

.inner-1ilYF7{
    box-shadow: 2px 2px 8px #000;
}

.modal-yWgWj-, .root-1gCeng{
    background-color: var( --background-primary) !important;
}




  /*----------------------------------*/
 /*-----------{Blur Toast}-----------*/
/*----------------------------------*/
/*frost the toast bg */
.powercord-toast{
 backdrop-filter:blur( var(--blur-toast));
  
}

  /*----------------------------------*/
 /*--------{tooltip frosting}--------*/
/*----------------------------------*/
#app-mount .tooltip-2QfLtc,
#app-mount .subscribeTooltipWrapper-1JoUuw,
#app-mount .tooltip-1_vJJI {
    background: rgba(0,0,0,0);
    backdrop-filter: blur(var( --blur-tooltip));
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);    
}

  /*----------------------------------*/
 /*-------{Hide tooltip arrow}-------*/
/*----------------------------------*/
#app-mount .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
  display: none;
}





  /*---------------------------------------------------------------------------------------*/
 /*-----------------------------------{search drop box}-----------------------------------*/
/*---------------------------------------------------------------------------------------*/

  /*---------------------------------------*/
 /*-----------{search drop box}-----------*/
/*---------------------------------------*/
.theme-dark .container-3ayLPN{
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}
.option-96V44q:after{
  display: none;
}




  /*----------------------------------------*/
 /*------------{search results}------------*/
/*----------------------------------------*/
.theme-dark .container-3ayLPN{
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
}
.option-96V44q:after{
  display: none;
}

.searchResultsWrap-3-pOjs{
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  right: 0px;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
}
.searchResultsWrap-3-pOjs .searchHeader-2XoQg7{
  background-color: rgba(0, 0, 0, 0.4);
}

.searchResultGroup-1DphGG .channelName-1JRO3C{
  background: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--header-primary);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  margin-bottom: 8px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  border-bottom: 2px solid;
  border-image: var(--gradient1);
  border-image-slice: 1;
}

.searchResultGroup-1DphGG .searchResult-9tQ1uo{
  background-color: rgba(0, 0, 0, 0.2);
}