  /*-------------------------------------------------------------*/
 /*----------------------{Guilds Side bar}----------------------*/
/*-------------------------------------------------------------*/
:root{

    --br-server: 10px;
    --br-server-sel: 5px;
}


  /*--------------------------------*/
 /*---------{Server List}----------*/
/*--------------------------------*/
.wrapper-1_HaEi.guilds-2JjMmN {
  width: 70px;
}

.scroller-3X7KbA{
    display: flex;
    flex-flow: column;
    padding-bottom: 60px;
}

.guilds-2JjMmN .wrapper-28eC3z foreignObject{
    mask: none;
}
.guilds-2JjMmN .wrapper-3kah-n.selected-1Drb7Z img.icon-3AqZ2e{
    border-radius:var(--br-sever-sel) !important;
    -webkit-border-radius:var(--br-sever-sel) !important;
    -moz-border-radius:var(--br-sever-sel) !important;
    -ms-border-radius:var(--br-sever-sel) !important;
    -o-border-radius:var(--br-sever-sel) !important;
}
.guilds-2JjMmN .wrapper-3kah-n img.icon-3AqZ2e{
    border-radius:var(--br-sever) !important;
    -webkit-border-radius:var(--br-sever) !important;
    -moz-border-radius:var(--br-sever) !important;
    -ms-border-radius:var(--br-sever) !important;
    -o-border-radius:var(--br-sever) !important;
}

  /*----------------------------------*/
 /*-----------{Home Icon}------------*/
/*----------------------------------*/
/*make home icon sticky*/
.scroller-3X7KbA .tutorialContainer-1pL9QS {
    position: sticky;
    top: -5px;
    padding-top: 8px;
    padding-bottom: 2px;
    z-index: 1;
    background: rgba(0,0,0,0);
    backdrop-filter: blur(5px);
    order: -3;
}
/*list divider*/
.scroller-3X7KbA .tutorialContainer-1pL9QS .listItem-3SmSlK{
    position: sticky;
    order: -2;
    top:62px;
    backdrop-filter: blur(5px);
    z-index: 1;
}
/*home button svg*/
.homeIcon-r0w4ny{
    width: 80%;
    height: 80%;

    background-image: url(https://peritex.github.io/Soda-lime/src/svg/home-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    fill: #000;
}
/*remover discord icon */
.homeIcon-r0w4ny path{
    display: none
}

.wrapper-3kah-n .childWrapper-1j_1ub{
    background-color: transparent;
}

.wrapper-3kah-n.selected-bZ3Lue .childWrapper-1j_1ub{
    background-color: var(--color-blue);
}

.wrapper-3kah-n:hover .childWrapper-1j_1ub{
    background-image: var(--gradientR1);
}



  /*--------------------------------*/
 /*------{Join server button}------*/
/*--------------------------------*/
/* Join/Create a sever */
/* .scroller-2TZvBN .tutorialContainer-SGrQ1h{
    order: -1;
} */

/* hide pill marker at side of servers for add/join */
.tutorialContainer-SGrQ1h div .pill-3YxEhL,
.listItem-2P_4kh .pill-3YxEhL {
    display:none;
}
/* move top "new" indicator down to fit style*/
.unreadMentionsIndicatorTop-2-tcdU{
    margin-top: 65px;
}
/* make bottom "new" indicator alow spotifiy to overlap*/
.unreadMentionsIndicatorBottom-2mDYbI{
    z-index: 2 !important;
    bottom: 60px;
}




/*guilds new unread*/

.unreadTop-3rAB3r, .unreadBottom-1_LF_w{
    width:auto;
    border-radius: 0 !important;
    padding: 0;
}
.unreadTop-3rAB3r .bar-30k2ka:not(.mention-1f5kbO), .unreadTop-3rAB3r .bar-30k2ka.mention-1f5kbO{
    border-radius: 0 !important;
    background: linear-gradient(#f04747, transparent);
    box-shadow: none;
}
.unreadBottom-1_LF_w  .bar-30k2ka:not(.mention-1f5kbO), .unreadBottom-1_LF_w  .bar-30k2ka.mention-1f5kbO{
    border-radius: 0px  !important;
    background: linear-gradient(0deg, #f04747, transparent);
    box-shadow: none;
}
.unreadMentionsIndicatorBottom-3RJMnQ, .unreadMentionsIndicatorTop-2bTgUU{
    padding:0px;
    height:24px;
}
.unreadMentionsIndicatorBottom-3RJMnQ .unreadMentionsBar-ZXXoOH{
    border-radius: 0px !important;
    background: linear-gradient(0deg, #f04747, transparent);
}
.unreadMentionsIndicatorTop-2bTgUU .unreadMentionsBar-ZXXoOH{
    border-radius: 0 !important;
    background: linear-gradient(#f04747, transparent);
}