  /*-------------------------------------------------------------------*/
 /*----------------------------{TiTle Bar}----------------------------*/
/*-------------------------------------------------------------------*/
.platform-win{
  --TB-position-top: 0px;
	--TB-position-right: 0;
  --TB-height: 48px;
  --TB-width: 50px;
}
  /*--------------------------------*/
 /*-----------{Top Bar}------------*/
/*--------------------------------*/

/*Min Max close contaner*/
.platform-win .typeWindows-2-g3UY {
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
  height: 10px;
	background: unset;
}
/*close button del*/
.platform-win .winButtonClose-3Q8ZH5 {
    display: none;
}
.platform-win .winButton-3UMjdg[aria-label="Maximise"]{
  order: 1;
}
.platform-win .winButton-3UMjdg[aria-label="Maximise"]:hover{
  background-color: rgb(230 170 100 / 80%);
}
.platform-win .winButton-3UMjdg[aria-label="Minimise"]:hover{
  background-color: rgb(230 100 100 / 80%);
}
/*Min Max Close Buttons*/
.platform-win .winButton-3UMjdg {
	position: relative;
	top: calc(var(--TB-position-top) - 1px);
	right: var(--TB-position-right);
	height: var(--TB-height);
	width: var(--TB-width);
}
/* Discord title del*/
.platform-win .wordmarkWindows-2dq6rw {
	display: none;
}




  /*------------------------------------------------*/
 /*-------------{Title bar container}--------------*/
/*------------------------------------------------*/
/* wrapper for all the top buttons */
.title-31SJ6t,.container-ZMc96U {
    -webkit-app-region: drag;
    max-width: calc(100% - var(--TB-width)*2 + 8px);
}

  /*--------------------------------------------*/
 /*-------------{Chat Title text}--------------*/
/*--------------------------------------------*/

.title-31SJ6t .children-3xh0VB {
    justify-content: space-between;
}
/* fix layout when only title (h3) is present */
.children-3xh0VB h3:last-child {
    margin-right: calc(50% - 2em);
}

.title-31SJ6t .divider-q3P9HC {
    width: 2px;
    /* margin: .5rem 0 0 0;
    height: .5rem;
    width: .5rem;
    background-color: var(--color-green);
    border-radius: 0.1rem; */
}

.title-31SJ6t .topic-11NuQZ {
    position: absolute;
    width: 1.5rem;
    opacity: 0;
    -webkit-app-region: no-drag;
}


  /*-------------------------------------------*/
 /*-------------{ToolBar Button}--------------*/
/*-------------------------------------------*/

/*ring the mute bell*/
.iconWrapper-2awDjA[aria-label="Notification Settings"]:hover {
    animation: Ring 0.15s 6;
  }
  @keyframes Ring {
    0% {
      transform: rotate(-7deg);
    }
    50% {
      transform: rotate(7deg);
    }
    100% {
      transform: rotate(-7deg);
    }
}

/*hide search till clicked*/
.searchBar-jGtisZ{
  width: 24px;
  transition: width .5s ease-out;
  -webkit-transition: width .5s ease-out;
  -moz-transition: width .5s ease-out;
  -ms-transition: width .5s ease-out;
  -o-transition: width .5s ease-out;
}

/* discord unpdate button*/
.toolbar-3_r2xA .updateIconForeground-2V_zo4 {
    fill: var(--color-green);
}
.toolbar-3_r2xA .updateIconForeground-2V_zo4 {
    fill: var(--color-lime);
}
/*TopBar help button del*/
.toolbar-3_r2xA > a.anchor-1MIwyf{
    display: none;
}

  /*----------------------------------------------------*/
 /*-------------{home menu friends pills}--------------*/
/*----------------------------------------------------*/
/* add friend topbar pill */
.item-3mHhwr.item-3XjbnG[aria-label*='Add']:before {
    content: "+";
    font-family: 'Ubuntu';
    box-sizing: border-box;
    text-align: center;
    line-height: 20px;
}
/* hide add friend text */
.item-3mHhwr.item-3XjbnG[aria-label*='Add'] span{
  display: none;
}