  /*-------------------------------------------------------------------*/
 /*----------------------------{TiTle Bar}----------------------------*/
/*-------------------------------------------------------------------*/

  /*--------------------------------*/
 /*-----------{Top Bar}------------*/
/*--------------------------------*/

/*Min Max close contaner*/
.platform-win .typeWindows-1za-n7 {
	margin-top: 0;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
    height: 15px;
	background: 0 0;
}
/*close button del*/
.platform-win .winButtonClose-1HsbF- {
    display:none;
}
.platform-win .winButton-iRh8-Z[aria-label="Maximize"]{
  order: 1;
}

/*Min Max Close Buttons*/
.platform-win .winButton-iRh8-Z {
	position: relative;
	top: calc(var(--TB-position-top, 0px) - 1px);
	right: var(--TB-position-right, 0);
	height: var(--TB-height, 48px);
	width: var(--TB-width, 55px);
}
/*Min Max Close Buttons hover */
.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
	background-color: var( --background-modifier-selected);
}
/*Title bar content */
.platform-win .container-1r6BKw {
	padding-right: var(--TB-header-padding, 115px)
}
/* Discord title del*/
.platform-win .wordmarkWindows-1v0lYD {
	display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
	right: 30%
}



  /*------------------------------------------------*/
 /*-----------{TopBar friends buttons }------------*/
/*------------------------------------------------*/
.topPill-30KHOu{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.topPill-30KHOu .item-PXvHYJ{
    margin: 0;
}



  /*-------------------------------------------*/
 /*-----------{TopBar Button Anim}------------*/
/*-------------------------------------------*/
/*anim TopBar buttons*/
.iconWrapper-2OrFZ1:hover {
    animation: Bop 1s 6;
  }
  @keyframes Bop {
    0% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(360deg);
    }
}
/*ring the mute bell*/
.iconWrapper-2OrFZ1[role="switch"]:hover {
    animation: Ring 0.15s 6;
  }
  @keyframes Ring {
    0% {
      transform: rotate(-7deg);
    }
    50% {
      transform: rotate(7deg);
    }
    100% {
      transform: rotate(-7deg);
    }
}
/*TopBar help button del*/
.iconWrapper-2OrFZ1[aria-label="Help"]{
    display:none;
}





/*top bar contaner bg*/
.children-19S4PO, .toolbar-1t6TWx {
    -webkit-app-region: drag;
    background-color: rgba(0,0,0,0.2);
    border-radius: var( --borders-top-bar);
    padding: 5px;
    height: auto;
    margin: 3px !important;
}
.children-19S4PO::after {
  display: none;
}
.children-19S4PO {
    margin-right: 20px;
}

.toolbar-1t6TWx {
    right: 10px !important;
}


/*hide search till clicked*/
.searchBar-3dMhjb{
    width:28px;
    transition: width 0.5s ease-out;
}

.divider-3FBTu8 {
    width: 2px;
    height: 20px;
}

svg > .updateIconForeground-3tnNZn {
    fill: var(--color-green);
}
.iconWrapper-2OrFZ1:hover svg > .updateIconForeground-3tnNZn {
    fill: var(--color-lime);
}
svg:active > .updateIconForeground-3tnNZn {
    fill: var(--interactive-active);
}
svg.icon-3cZ1F_ > path {
    fill: var(--interactive-normal);
}
svg.icon-22AiRD {
    color: var(--interactive-normal);
}
svg.icon-22AiRD:hover {
    color: var(--interactive-hover);
}
.topic-TCb_qw {
    -webkit-app-region: no-drag;
    color: var(--interactive-normal) !important;
}
.title-29uC1r {
    color: var(--interactive-normal);
}
.title-29uC1r:hover {
    color: var(--interactive-hover);
}
.status-1XNdyw:hover {
    filter: brightness(1.5)!important
}
.channelName-qsg_a_ > div > .input-2A_zIr {
    box-shadow: none !important;
}

.search-2oPWTC .icon-38sknP {
    cursor: pointer;
}

.toolbar-1t6TWx .iconWrapper-2OrFZ1 .iconBadge-qZ4Ksk{
    background-color: var(--color-orange);
}
.toolbar-1t6TWx .iconWrapper-2OrFZ1 svg > .strikethrough-3Wiitd{
    color: var(--color-orange);
}