@import url(https://peritex.github.io/Soda-lime/src/RTC.css);
@import url(https://peritex.github.io/Soda-lime/src/Server.css);



  /*-----------------------------------------------------*/
 /*---------------------{side bar}---------------------*/
/*-----------------------------------------------------*/

/* working on new CSS */
/* .sidebar-2K8pFh{
  width:0px;
  transition:.5s ease 1s;
}
.sidebar-2K8pFh

.platform-win .base-3dtUhz{
  border-radius: 8px 0 0;
}
.wrapper-3NnKdC:hover+.base-3dtUhz>.content-98HsJk>.sidebar-2K8pFh{
  width:240px;
  transition:.5s ease;
}
.sidebar-2K8pFh:hover{
  width:240px;
  transition:.5s ease;
  -webkit-transition:.5s ease;
  -moz-transition:.5s ease;
  -ms-transition:.5s ease;
  -o-transition:.5s ease;
} */

.content-1x5b-n:hover {
    transition: 50ms ease;
    box-shadow: 0px 2px 5px 0px rgb(11 11 11);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: 50ms ease;
    -moz-transition: 50ms ease;
    -ms-transition: 50ms ease;
    -o-transition: 50ms ease;
}
.content-1x5b-n {
    transition: 750ms ease;
    -webkit-transition: 750ms ease;
    -moz-transition: 750ms ease;
    -ms-transition: 750ms ease;
    -o-transition: 750ms ease;
}




  /*-----------------------------------------------------*/
 /*---------------------{User area}---------------------*/
/*-----------------------------------------------------*/


.panels-j1Uci_{
    position: static;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    bottom: 0%;
    min-width: 0px;
    max-width: 240px;
    background-color: var( --background-secondary);
    z-index: 3;  
    border-top: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}
  /*---------------------------------*/
 /*------------{Profile}------------*/
/*---------------------------------*/
.container-3baos1{
    display: flex;
    flex: 1 1 auto;
    max-height: 55px;
    bottom: 0px;
    left: 0px;
    padding: 2px 5px 5px 5px;
    margin: 0;
    z-index: 5;
}
/*pic*/
.avatar-SmRMf2[role="img"]{
    transition: 0.2s ease-in-out;
    margin-left: 8px;
    margin-right: 9px;
    padding-left: 0px;
}
.container-3baos1:hover .avatar-SmRMf2[role="img"]{
    transition: 0.2s ease-in-out;
    padding-left: 0px;
    
}

/*pic wrapper*/
.avatarWrapper-2yR4wp{
    margin: unset;
}


  /*-------------------------------*/
 /*--------{User name del}--------*/
/*-------------------------------*/
.container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N {
    display: none;
    
}
  /*---------------------------------*/
 /*--------{User tray icons}--------*/
/*---------------------------------*/
.panels-j1Uci_ > .container-3baos1:hover > .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6{
    flex: 1 1 auto !important;
    display: flex;
    justify-content: space-evenly;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.panels-j1Uci_ > .container-3baos1:hover > .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6{
    transition: ease-in-out 0.5s;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
}

.panels-j1Uci_ .container-3baos1 button[aria-checked="false"],
.panels-j1Uci_ .container-3baos1 button:not([role="switch"]){
    transition: 0.2s ease-in-out;
    width: 0px !important;
    overflow: hidden !important;
    opacity: 0 !important;
}
.panels-j1Uci_ .container-3baos1:hover button.button-14-BFJ {
    transition: 0.2s ease-in-out;
    width: auto !important;
    overflow: visible !important;
    opacity: 1 !important;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
}
/*alow user area buttons to flex to number of children*/
/*
.panels-j1Uci_ .container-3baos1 .flex-1O1GKY{
    flex: auto !important;
    justify-content: space-around;
}
*/

  /*---------------------------------*/
 /*------{Cant copy usernames}------*/
/*---------------------------------*/
.header-23xsNx{
  user-select:none;
}
  /*---------------------------------*/
 /*---------{Status picker}---------*/
/*---------------------------------*/
.clearStatusIcon-3-MDNF,
.scrollerBase-289Jih > [id*="status-picker-"] + .separator-2I32lJ,
.statusItem-33LqPf > .status-1fhblQ,
.statusItem-33LqPf > .description-2L932D,
.statusItem-33LqPf > .separator-2I32lJ,
.statusItem-33LqPf > .customText-tY5LJn,
.statusItem-33LqPf > .clearStatusIcon-3-MDNF,
.tutorialContainer-SGrQ1h + div {
    display: none;
}

#status-picker {
   width: 45px;
   margin-left: 0px;
    background: rgba(26,26,26,0.2);
    backdrop-filter: blur(5px);
}

/*
#status-picker::before {
   content: "";
   position: absolute;
   z-index: 10;
   background-color: inherit;
   transform: rotate(45deg);
   padding-top: 15px;
   padding-left: 10px;
   margin-left: 13px;
}
*/


  /*---------------------------------------*/
 /*-------------{Fix Spotify}-------------*/
/*---------------------------------------*/
.powercord-spotify{
    position:fixed;
    bottom: -1px;
    left: 0px;
    width: 59px;
    max-height: 49px;
    background-color: var( --spotify-color)!important;
    padding: 5px;
    border-top: 1px solid #333333!important;
    border-bottom: 1px solid #333333!important;
    border-left: 1px solid var(--spotify-color);
    overflow: hidden;
    transition: max-height .5s ease 3s, background-color .3s 3s, width .5s 1s, z-index 1s 3s;
    backdrop-filter:blur(5px);
    
    z-index: 10 !important;
}
.powercord-spotify:hover{
    width: 299px;
    max-height: 100px;
    transition: max-height .5s ease-out .5s, background-color .5s, width .5s, z-index 10ms;
    background-color: rgba(30,216,96,.1)!important;
    z-index: 11 !important;
}
.powercord-spotify img{
    width: 48px !important;
    height: 48px !important;
    border-radius: var( --border-spotify) !important;
    margin-bottom: 4px;
    margin-left: 0;
}
.powercord-spotify .spotify-seek{
    margin-bottom: 5px;
}
.powercord-spotify .spotify-seek-bar{
    height:4px!important;
    border-radius:2px!important;
    margin-left:15px!important;
    margin-right:15px!important;
    background:#404040;
}
.powercord-spotify .spotify-seek-bar-progress{
    background:#b3b3b3;
    border-radius:2px;
}
.powercord-spotify .container-3baos1{
    background-color:transparent;
}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy{
    margin-left: 4px;
}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3{
    color:#fff;
}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg{
    color:#b3b3b3;
    overflow-x:hidden;
    text-indent:-15px;
}
.powercord-spotify .spotify-buttons button{
    background:0 0!important;
}
.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{
    color:#b3b3b3!important;
    font-size:70%!important;
    margin-top:3px!important;
    margin-left:10px!important;
    margin-right:10px!important
}
.powercord-spotify .horizontal-1ae9ci *{
    width:0!important;
    overflow:hidden!important;
    opacity:0!important;
    display:none!important
}
.powercord-spotify:hover .horizontal-1ae9ci *{
    width:32px!important;
    overflow:visible!important;
    opacity:1!important;
    display:block!important;
}



  /*------------------------------------------*/
 /*------------{Voice Chat Panel}------------*/
/*------------------------------------------*/
/*Set VC wrapper to resize */
.wrapper-24pKcD:not(:empty){
    height: auto;
    overflow: hidden;
    /* width: 240px; */
}
/*VC div content*/ /*flex grow and stack buttons on top*/
.container-1giJp5{
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 240px;
    padding: 0px 8px;
    padding-bottom: 7px;
    
    border-bottom: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}
/* flex box inside container-1giJp5 */
.container-1giJp5 .connection-3KRENF{
    width: -webkit-fill-available;
}
/* VC inside this div */
.container-1giJp5 .inner-tyMogq{
    padding: 5px 0px 0px 5px;
}
/* voice status text and icon */
.container-1giJp5 .rtcConnectionStatus-2-jIsi{
    padding-bottom: 7px;
}

/*VC cam/share screen button */
.actionButtons-14eAc_{
    flex: 1 1 auto;
    transition: .5s cubic-bezier(0.7, 0.1, 0.7, 0.1) .5s;
    height: 0px;
    overflow: hidden;
    margin-top: 0px;
}
/*show VC buttons on hover*/
.wrapper-24pKcD:hover .actionButtons-14eAc_{
    transition: .5s cubic-bezier(0.2, 0.8, 0.3, 1);
    margin-top: 7px;
    height: 32px;
}
/*hide noise button*/
.container-1giJp5 button[aria-label="Noise Suppression powered by Krisp"]{
    display: none;
}
/*stop disconnect button going out of bounds*/
.container-1giJp5 a > div:not(.actionButtons-14eAc_){
    max-width:  -webkit-fill-available;
}
.container-1giJp5 > .actionButtons-14eAc_ .lookFilled-1Gx00P > .contents-18-Yxp
{
    width: 20px;
}

  /*--------------------------------------------*/
 /*------------{Screen share Panel}------------*/
/*--------------------------------------------*/
/* Streaming panel anim */
.activityPanel-28dQGo{
    overflow: hidden;
    padding: 5px 8px;
    
    border-bottom: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}

/* stream game pic*/
.gameIconWrapper-1YByCI{
    display: none;
}

.listeningAlong-30wH70{
    
}



  /*--------------------------------------------*/
 /*---------------{Listen along}---------------*/
/*--------------------------------------------*/
.listeningAlong-30wH70{
    border-bottom: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}

.listeningAlong-30wH70 .icons-2uekgw button{
    display: none;
}

