
  /*-----------------------------------------------------*/
 /*---------------------{side bar}---------------------*/
/*-----------------------------------------------------*/
.content-1x5b-n:hover,.content-1Wq3SX:hover {
    transition: 50ms ease;
    box-shadow: 0px 2px 5px 0px rgb(11 11 11);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: 50ms ease;
    -moz-transition: 50ms ease;
    -ms-transition: 50ms ease;
    -o-transition: 50ms ease;
}
.content-1x5b-n,.content-1Wq3SX {
    transition: 750ms ease;
    -webkit-transition: 750ms ease;
    -moz-transition: 750ms ease;
    -ms-transition: 750ms ease;
    -o-transition: 750ms ease;
}
/* .content-3YMskv */

/* center sidebar group headers */
.sidebar-1tnWFu .name-3BUDLf.container-q97qHp{
  display: flex;
  justify-content: center;
  border-image: var(--gradientSidebar) 1;
  border-style: solid;
  border-bottom-width: 1px;
}


  /*-----------------------------------------------------*/
 /*---------------------{User area}---------------------*/
/*-----------------------------------------------------*/


.panels-j1Uci_{
    position: static;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    bottom: 0%;
    min-width: 0px;
    max-width: 240px;
    background-color: var( --background-secondary);
    z-index: 3;  
    border-top: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}
  /*---------------------------------*/
 /*------------{Profile}------------*/
/*---------------------------------*/
.container-YkUktl{
  height: 59px;

}
/*pic*/
.container-YkUktl > .avatarWrapper-1B9FTW > .avatar-1EWyVD{
  height: 40px !important;
  width: 40px !important;
}


  /*--------------------------------------------------*/
 /*------------{Profile status indicator}------------*/
/*--------------------------------------------------*/
.container-YkUktl .avatar-1EWyVD[aria-label*='Online']:before{ 
  content: "";
  position: absolute;
  left: -7px;
  bottom: -10px;
  display: block;
  height: 5px;
  width: 238px;
  background-image: linear-gradient(transparent, var(--status-color-online));
  border-radius: 25px 25px 0 0;
  z-index: 1;   
}
.container-YkUktl .avatar-1EWyVD[aria-label*='Idle']:before{ 
  content: "";
  position: absolute;
  left: -8px;
  bottom: -10px;
  display: block;
  height: 5px;
  width: 240px;
    background-image: linear-gradient(transparent, var(--status-color-idle));
    border-radius: 25px 25px 0 0;
  z-index: 1;    
}
.container-YkUktl .avatar-1EWyVD[aria-label*='Do Not']:before{ 
  content: "";
  position: absolute;
  left: -8px;
  bottom: -10px;
  display: block;
  height: 5px;
  width: 240px;
    background-image: linear-gradient(transparent, var(--status-color-dnd));
    border-radius: 25px 25px 0 0;
  z-index: 1;    
}
/* hide old */
.container-YkUktl .avatarWrapper-1B9FTW rect{
  opacity:0;
}






  /*-------------------------------*/
 /*--------{User name del}--------*/
/*-------------------------------*/
.container-3baos1 .nameTag-3uD-yy.canCopy-2VBT7N {
    display: none;
    
}
  /*---------------------------------*/
 /*--------{User tray icons}--------*/
/*---------------------------------*/
.container-YkUktl:hover .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > * {
    width: 43px;
    opacity: 1;
}

.container-YkUktl .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > * {
    width: 0px;
    opacity: 0;
    transition: .25s ease;
}
.container-YkUktl .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > *[aria-checked="true"] {
  width: 43px;
  opacity: 1;
  order: 2;
}
.container-YkUktl button[aria-label*="User Settings"]{
  order: -1;
}


  /*---------------------------------*/
 /*------{Cant copy usernames}------*/
/*---------------------------------*/
.header-23xsNx{
  user-select:none;
}
  /*---------------------------------*/
 /*---------{Status picker}---------*/
/*---------------------------------*/
#status-picker {
    background: rgba(26,26,26,0.3);
    backdrop-filter: blur(5px);
    box-shadow: #050505 5px 7px 10px 0px,
     #070707 1px 2px 15px 5px;
}

#status-picker  .scrollerBase-_bVAAt {
  display: grid;
}

#status-picker-custom-status,
#status-picker div[role=group] {
  grid-column: 1/5;
}
/* Multi account experiment */
.submenuContainer-3EVTeH{
  grid-column: 1/5;
}

#status-picker .item-1OdjEX:not(#status-picker-custom-status, #status-picker-switch-account) .status-1fhblQ {display: none;}
#status-picker .description-3Cwkxk {display: none;}
#status-picker .separator-1So4YB {display: none;}
#status-picker .status-3TYC5W {display: none;}

#status-picker .status-1fhblQ {
  margin-left: 8px;
}

#status-picker .customEmojiPlaceholder-37iZ_j,
#status-picker .switchAccountsIcon-355frb {
  margin-left: 1px;
}

#status-picker .mask-2Me5HY {
  height: 78%; 
  width: 78%;
  margin-left: 3px;
}

#status-picker-online,
#status-picker-idle,
#status-picker-dnd {
  margin-right: 20px;
}

#status-picker-online .statusItem-2hiCNB,
#status-picker-idle .statusItem-2hiCNB,
#status-picker-dnd .statusItem-2hiCNB,
#status-picker-invisible .statusItem-2hiCNB {
  display: flex;
  padding: 8px 8px;
}

#status-picker-custom-status .statusItem-2hiCNB {
  padding: 6px 8px;
}

#status-picker .customEmojiPlaceholder-37iZ_j {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Crect fill='none' height='24' width='24'/%3E%3Cpath d='M11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12S17.52,2,11.99,2z M8.5,8C9.33,8,10,8.67,10,9.5 S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M16.75,14.75C15.8,16.39,14.03,17.5,12,17.5s-3.8-1.11-4.75-2.75 C7.06,14.42,7.31,14,7.69,14h8.62C16.7,14,16.94,14.42,16.75,14.75z M15.5,11c-0.83,0-1.5-0.67-1.5-1.5S14.67,8,15.5,8 S17,8.67,17,9.5S16.33,11,15.5,11z'/%3E%3C/svg%3E");
}

#status-picker .colorDefault-2K3EoJ.focused-3afm-j .customEmojiPlaceholder-37iZ_j {
  background: var(--interactive-active);
}

#status-picker .switchAccountsIcon-355frb {
  background-image: none;
  background-color: var(--interactive-normal);
  mask: var(--icon) center/contain no-repeat;
  -webkit-mask: var(--icon) center/contain no-repeat;
  width: 22px;
  height: 22px;
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='%23000000'%3E%3Cg%3E%3Crect fill='none' height='24' width='24'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M17,20H4V7c0-0.55-0.45-1-1-1S2,6.45,2,7v13c0,1.1,0.9,2,2,2h13c0.55,0,1-0.45,1-1S17.55,20,17,20z M20,2H8 C6.9,2,6,2.9,6,4v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V4C22,2.9,21.1,2,20,2z M14,5c1.66,0,3,1.34,3,3c0,1.66-1.34,3-3,3 s-3-1.34-3-3C11,6.34,12.34,5,14,5z M7.76,16c1.47-1.83,3.71-3,6.24-3s4.77,1.17,6.24,3H7.76z'/%3E%3C/g%3E%3C/svg%3E");
}

#status-picker .colorDefault-2K3EoJ.focused-3afm-j .switchAccountsIcon-355frb {
  background: var(--interactive-active);
}

#status-picker-custom-status,
#status-picker-switch-account,
#status-picker-switch-account--manage-accounts {
  margin-top: 12px !important;
}

#status-picker-custom-status::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -6px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-switch-account--manage-accounts::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: -7px;
  left: 2px;
  width: 98%;
  height: 1px;
}

#status-picker-dnd::after,
#status-picker-idle::after,
#status-picker-online::after {
  content: "";
  background: var(--background-modifier-accent);
  position: absolute;
  top: 6px;
  left: 50px;
  width: 1px;
  height: 24px;
}


/*
#status-picker::before {
   content: "";
   position: absolute;
   z-index: 10;
   background-color: inherit;
   transform: rotate(45deg);
   padding-top: 15px;
   padding-left: 10px;
   margin-left: 13px;
}
*/


  /*---------------------------------------*/
 /*-------------{Fix Spotify}-------------*/
/*---------------------------------------*/
.powercord-spotify{
    position:fixed;
    bottom: -1px;
    left: 0px;
    width: 59px;
    max-height: 49px;
    background-color: var( --spotify-color)!important;
    padding: 5px;
    border-top: 1px solid #333333!important;
    border-bottom: 1px solid #333333!important;
    border-left: 1px solid var(--spotify-color);
    overflow: hidden;
    transition: max-height .5s ease 3s, background-color .3s 3s, width .5s 1s, z-index 1s 3s;
    backdrop-filter:blur(5px);
    
    z-index: 10 !important;
}
.powercord-spotify:hover{
    width: 299px;
    max-height: 100px;
    transition: max-height .5s ease-out .5s, background-color .5s, width .5s, z-index 10ms;
    background-color: rgba(30,216,96,.1)!important;
    z-index: 11 !important;
}
.powercord-spotify img{
    width: 48px !important;
    height: 48px !important;
    border-radius: var( --border-spotify) !important;
    margin-bottom: 4px;
    margin-left: 0;
}
.powercord-spotify .spotify-seek{
    margin-bottom: 5px;
}
.powercord-spotify .spotify-seek-bar{
    height:4px!important;
    border-radius:2px!important;
    margin-left:15px!important;
    margin-right:15px!important;
    background:#404040;
}
.powercord-spotify .spotify-seek-bar-progress{
    background:#b3b3b3;
    border-radius:2px;
}
.powercord-spotify .container-3baos1{
    background-color:transparent;
}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy{
    margin-left: 4px;
}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3{
    color:#fff;
}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg{
    color:#b3b3b3;
    overflow-x:hidden;
    text-indent:-15px;
}
.powercord-spotify .spotify-buttons button{
    background:0 0!important;
}
.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{
    color:#b3b3b3!important;
    font-size:70%!important;
    margin-top:3px!important;
    margin-left:10px!important;
    margin-right:10px!important
}
.powercord-spotify .horizontal-1ae9ci *{
    width:0!important;
    overflow:hidden!important;
    opacity:0!important;
    display:none!important
}
.powercord-spotify:hover .horizontal-1ae9ci *{
    width:32px!important;
    overflow:visible!important;
    opacity:1!important;
    display:block!important;
}



  /*------------------------------------------*/
 /*------------{Voice Chat Panel}------------*/
/*------------------------------------------*/
.container-1zzFcN{
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 240px;
    padding: 0px 8px;
    padding-bottom: 7px;
    /*
    border-bottom: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
  */
}
/*stop disconnect button going out of bounds*/
.container-1zzFcN > div:not(.actionButtons-2vEOUh){
    width: -webkit-fill-available;
}

/* voice status text and icon */
.container-1zzFcN .rtcConnectionStatus-2-jIsi{
    padding-bottom: 7px;
}

/*VC cam/share screen button */
.actionButtons-2vEOUh{
    flex: 1 1 auto;
    transition: .5s cubic-bezier(0.7, 0.1, 0.7, 0.1) .5s;
    height: 0px;
    overflow: hidden;
  	padding-bottom: 8px;
    margin-top: 0px;
}
/*show VC buttons on hover*/
.wrapper-3Hk9OB:hover .actionButtons-2vEOUh{
    transition: .5s ease-out;
    margin-top: 7px;
    height: 32px;
}
/*hide noise button*/
.container-1zzFcN button[aria-label="Noise Suppression powered by Krisp"]{
    display: none;
}


  /*--------------------------------------------*/
 /*------------{Screen share Panel}------------*/
/*--------------------------------------------*/
/* Streaming panel anim */
.activityPanel-28dQGo{
    overflow: hidden;
    padding: 5px 8px;
    
    border-bottom: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}

/* stream game pic*/
.gameIconWrapper-1YByCI{
    display: none;
}

.listeningAlong-30wH70{
    
}



  /*--------------------------------------------*/
 /*---------------{Listen along}---------------*/
/*--------------------------------------------*/
.listeningAlong-30wH70{
    border-bottom: 1px solid;
    border-image: var(--gradient3);
    border-image-slice: 1;
}

.listeningAlong-30wH70 .icons-2uekgw button{
    display: none;
}

